{% if settings.collection_swatches %}
{% assign file_extension = 'png' %}

{% for option in product.options %}
  {% assign downcased_option = option | downcase %}
  {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
    {% assign option_index = forloop.index0 %}
    {% assign values = '' %}
    <div class="collection_swatches">
    
      {% for variant in product.variants %}
        {% assign value = variant.options[option_index] %}
        {% unless values contains value %}
          {% assign values = values | join: ',' %}
          {% assign values = values | append: ',' | append: value %}
          {% assign values = values | split: ',' %}
    
          <a href="{{ variant.url | within: collection }}" class="swatch"
            data-swatch-name="meta-{{ downcased_option }}_{{ value | replace: ' ', '_' | downcase }}">
            <span style="background-color: {{ value | split: ' ' | last | handle }};">
              {% if variant.featured_image %}
                <img src="{{ variant.featured_image | product_img_url: '50x' | prepend: 'https:' }}" alt="{{ value | handle }}">
              {% endif %}
            </span>
          </a>
        {% endunless %}
      {% endfor %}
    
    </div>
  {% endif %}
{% endfor %}
{% endif %}
