{% comment %}  {% if collection.handle == 'garden-sofas' %}
<h6 class="heading">All Products</h6>
<div class="all-products text-center">

{% if section.settings.heading_title != blank %}
<center><h2 class="title">{{ section.settings.heading_title }}</h2></center>
{% endif %}

<div class="cat_slider">
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/1-seater-sofas">
<span><svg xmlns="http://www.w3.org/2000/svg" width="45.282" height="34.008" viewBox="0 0 45.282 34.008">
<path id="_1_Seater_Sofas" data-name="1 Seater Sofas" d="M41.766,19.239a7.053,7.053,0,0,0-.732.043V18.64a6.03,6.03,0,0,0-6.023-6.023H16.271a6.029,6.029,0,0,0-6.022,6.023v.642a7.053,7.053,0,0,0-.732-.043A6.525,6.525,0,0,0,3,25.757v17a1.079,1.079,0,0,0,1.079,1.08H7.016v1.71a1.08,1.08,0,1,0,2.16,0v-1.71H42.484v1.71a1.08,1.08,0,1,0,2.159,0v-1.71H47.2a1.08,1.08,0,0,0,1.079-1.08v-17A6.526,6.526,0,0,0,41.766,19.239Zm-29.357-.6a3.865,3.865,0,0,1,3.862-3.862H35.01a3.865,3.865,0,0,1,3.863,3.862v1.284a6.516,6.516,0,0,0-3.625,5.832V33.1H16.034V25.757a6.517,6.517,0,0,0-3.625-5.832ZM46.121,41.674H5.16V25.757a4.357,4.357,0,0,1,8.714,0v8.428a1.079,1.079,0,0,0,1.079,1.08H36.326a1.079,1.079,0,0,0,1.08-1.08V25.757a4.357,4.357,0,0,1,8.713,0V41.674Z" transform="translate(-3 -12.617)" fill="#939598"/>
</svg></span>
<span>1 Seater Sofas</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/2-seater-sofas">
<span><svg xmlns="http://www.w3.org/2000/svg" width="52.136" height="34.377" viewBox="0 0 52.136 34.377">
<g id="_2_Seater_Sofas" data-name="2 Seater Sofas" transform="translate(-310.967 -256)">
<g id="Group_911" data-name="Group 911">
<path id="_2_2seater-21" data-name="2_2seater-21" d="M54.072,39.116c0-.019.01-.035.01-.054V29.686a5.023,5.023,0,0,0-3.6-4.8c0-.022,0-.04,0-.061a9.434,9.434,0,0,0-9.236-7.34H15.13a9.519,9.519,0,0,0-9.248,7.407,5.04,5.04,0,0,0-3.891,4.893v9.354a.787.787,0,0,0-.026.127v8.9a.9.9,0,0,0,.9.9H3.994v1.888a.9.9,0,1,0,1.8,0V49.074h44.21v1.888a.9.9,0,1,0,1.8,0V49.074H53.2a.9.9,0,0,0,.9-.9v-8.9A.936.936,0,0,0,54.072,39.116Zm-24.966-.749V35.872H43.99v2.494Zm-17.023-2.5H27.229v2.494H12.083Zm16.947,0H27.3v2.494H29.03Zm0-1.8V19.291H27.3V34.068Zm23.25-4.382v8.473H45.794V29.686a3.243,3.243,0,0,1,6.487,0Zm-3.7-4.992a5.025,5.025,0,0,0-4.588,4.991v4.382H29.106V19.291H41.247A7.63,7.63,0,0,1,48.577,24.695Zm-33.447-5.4h12.1V34.068H12.083V29.787a5.032,5.032,0,0,0-4.318-4.964A7.705,7.705,0,0,1,15.13,19.291ZM3.794,29.786a3.243,3.243,0,0,1,6.487,0v8.472H3.794ZM52.3,47.271H3.768v-7.1H52.3v7.1Z" transform="translate(309.002 238.513)" fill="#939598"/>
</g>
</g>
</svg></span>
<span>2 Seater Sofas</span>
</a>
</div> 
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/3-seater-sofas">
<span><svg xmlns="http://www.w3.org/2000/svg" width="52.056" height="34.377" viewBox="0 0 52.056 34.377">
<path id="_1_3seater-20" data-name="1_3seater-20" d="M54.028,39.252c0-.019.01-.035.01-.054V29.822a5.023,5.023,0,0,0-3.6-4.8c0-.022,0-.04,0-.061a9.434,9.434,0,0,0-9.236-7.34H15.164A9.517,9.517,0,0,0,5.917,25.03a5.04,5.04,0,0,0-3.891,4.893v9.354A.787.787,0,0,0,2,39.4v8.9a.9.9,0,0,0,.9.9H4.029V51.1a.9.9,0,1,0,1.8,0V49.21H49.962V51.1a.9.9,0,1,0,1.8,0V49.21h1.393a.9.9,0,0,0,.9-.9V39.4A.934.934,0,0,0,54.028,39.252ZM35.852,38.5V36.008h8.093V38.5ZM12.118,36.008h7.222V38.5H12.118Zm9.025,0h12.9V38.5h-12.9Zm0-1.8V19.428h12.9V34.205h-12.9Zm31.093-4.382V38.3H45.75V29.822a3.243,3.243,0,0,1,6.487,0Zm-3.7-4.991a5.025,5.025,0,0,0-4.588,4.991V34.2H35.852V19.428H41.2A7.631,7.631,0,0,1,48.532,24.832Zm-33.369-5.4h4.177V34.205H12.118V29.924A5.032,5.032,0,0,0,7.8,24.961,7.707,7.707,0,0,1,15.164,19.428ZM3.829,29.923a3.243,3.243,0,0,1,6.487,0v8.472H3.829ZM52.256,47.407H3.8v-7.1H52.256v7.1Z" transform="translate(-2 -17.623)" fill="#939598"/>
</svg></span>
<span>3 Seater Sofas</span>
</a>
</div> 
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/sofa-sets">
<span><svg xmlns="http://www.w3.org/2000/svg" width="93.879" height="35" viewBox="0 0 93.879 35">
<g id="Sofa_Set" data-name="Sofa Set" transform="translate(-160 -94)">
<path id="Shape_24" data-name="Shape 24"
d="M15.64,35l.9-2.164-2.565.378L5.258,28.2l-.667,1.953-1.016-.624.516-2-.673-.387-.34-10.361.12.029.008-.052A3.524,3.524,0,0,1,.011,12.855a3.343,3.343,0,0,1,3.749-3.21l.68.287V6.072l1.178-1.41c0,.019,0,.042-.006.066A3.69,3.69,0,0,1,8.189,3.215S41.794.9,45.031.776L45.044.8c1.1.173,1.7,4.08,2.025,7.425l8.209,1.656c2.154-.536,3.9,1.63,3.9,1.63,2.283,4.018-1.676,5.331-1.676,5.331l.088,9.928.007.013h-.007v0h-.024l-1.211.179,1.281,2.6-3.32.545-1.649-2.6L20.44,32.261,18.749,35Zm1.542-.714h.885l.949-1.815-1.008.149Zm-3.227-2.966L13.3,20.874a5.287,5.287,0,0,1-.949-.424L7.794,18.726l4.482,1.988L7.794,18.726,4.588,17.512v8.482ZM13.3,15.158s-3.774,3.776,1.377,4.95l.9,11,2.092-.292c-.164-3.257-.626-12.546-.626-14.232,0,0-.934-1.8-2.5-1.8A2.44,2.44,0,0,0,13.3,15.158Zm5.4,15.517,34.123-4.769V17.289L37.3,19.1l.18,1.56L52.816,18.93v1.4l-34.4,3.889Zm36.259-1.406,1.492-.244-1.115-1.909-1.544.228Zm-.524-16.076c0,2.344.2,9.412.292,12.448l1.382-.193V15.568c2.786-1.52,1.483-3.054,1.483-3.054a2.636,2.636,0,0,0-1.4-.467A2.12,2.12,0,0,0,54.429,13.193ZM18.353,22.824l17.712-2-.217-1.55L18.288,21.325Zm-.285-6.593.162,3.75,16.683-1.874-4.434-2.757-12.421.865Zm-7.507,1.9a4.145,4.145,0,0,1,1.118-2.976,4.242,4.242,0,0,1,.384-.326l-7.3-3.121c-2.894-1.446-3.218.348-3.218.348-.912,3.195,1.876,3.306,1.876,3.306V15.4l.013-.081Zm26.585-.277,15.377-1.728-4.834-1.977L32.96,15.178ZM17.13,14.995l12.007-.859c-.123-7.43-1.436-10.086-2.2-11.007C18.4,3.648,9.76,4.342,7.658,5.1l1.05,6.608-.444-.166,5.653,2.385a3.261,3.261,0,0,1,3.213,1.064Zm35.686-.335V11.785q.207-.286.414-.524l-6.008-1.22c.1,1.382.149,2.466.163,2.822Zm-22.141-.635,15.259-1.092c.374-1.852-.383-7.935-.764-10.723-2.139.087-8.821.37-16,.785C30.261,5.429,30.613,12.567,30.674,14.025ZM7.2,11.1,6.33,5.5c-.238.057-.5.129-.744.214-.014,1.477.018,3.943.029,4.717ZM81.577,32.342l-1.016-4.229L68.426,26.97l-1.092,3.311v.066l-.021,0v0l-.005,0-2.636-.331h-.51l.458-3.4-.051,0,.162-.652a59.214,59.214,0,0,0-3.308-13.629S60.077,7.67,64.573,8.914l9.366-.345.013.031A7.57,7.57,0,0,0,73.6,7.474S71.5.627,75.389,0c0,0,5.473.331,8.348,1.867,0,0,6.676-2.523,8.347-.932,0,0,3.052,1.132-.593,9.032l1.126.48a1.7,1.7,0,0,1,.754.322l.047.02-.02,0c.968.814.177,2.6.177,2.6-1.653,4.6-2.092,12.625-2.092,12.625L91.457,26l.528,3.041h.008l.009.1.154.887h-.074l0,.017-1.543.338-.776.231L88.417,27l.213-.079-3.746,1.229v3.756l-.3.1.049.224-2.018.09.006.024Zm.843-.813,1.431-.131-.079-2.982-2.157-.2ZM66.715,29.506l.72-2.6.133-.015-1.9-.178-.647,2.574Zm23.538-.158.759-.133-.54-2.9-1.049.344Zm-6.316-1.335v-.539h-.078ZM86.12,13.7c-2.9,6.384-2.454,11.03-2.076,12.883l6.32-1.969c-.02-3.415,2.313-12.47,2.313-12.47a1.221,1.221,0,0,0-.175-1.256l-6.175.7A4.547,4.547,0,0,1,86.12,13.7ZM82.778,26.52C81.6,22,84.849,12.1,84.849,12.1c-2.142-1.492-2.455,1.855-2.455,1.855-1.432,6.423-.772,10.676-.312,12.5Zm-1.924-.175a59.724,59.724,0,0,1-.528-6.2L67.821,18.648a44.373,44.373,0,0,1,.138,6.524Zm-14.5-1.319a44.8,44.8,0,0,0-1.014-13.831s-1.775-1.809-2.4-.632c0,0,3.162,10.464,3.125,14.437Zm13.936-6.771c0-.4.016-.784.035-1.147l-5.385-.9-4.966,1.214Zm-12.51-1.568,5.054-.958,1.652-.508h.011a37.04,37.04,0,0,0-.264-5.093l-7.637.408C67.218,11.638,67.763,13.51,67.777,16.686Zm12.656-.9c.584-5,2.708-5.5,2.708-5.5a4.233,4.233,0,0,1,1.973-.022l4.776-.217c.345-.928,2.518-6.914,1.384-7.389,0,0-.967-2.281-6.649.358,0,0-1.146,1.025-3.437-.358,0,0-4.865-1.628-5.98-.784,0,0-1.448.443-.356,5.172,0,0,1.329,6.332.981,8.31Z"
transform="translate(160 94)" fill="#848484" />
</g>
</svg></span>
<span>Sofa Sets</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/lhs-sectional-sofas">
<span><svg xmlns="http://www.w3.org/2000/svg" width="33.782" height="33.782" viewBox="0 0 33.782 33.782">
<path id="sofa" d="M32.657,0H1.127A1.127,1.127,0,0,0,0,1.126V2.815A1.128,1.128,0,0,0,1.127,3.941v8.446a2.254,2.254,0,0,0,2.252,2.252H18.018a1.127,1.127,0,0,1,1.126,1.126V30.4A2.254,2.254,0,0,0,21.4,32.656h8.446a1.128,1.128,0,0,0,1.126,1.126h1.689a1.127,1.127,0,0,0,1.126-1.126V1.126A1.127,1.127,0,0,0,32.657,0ZM21.4,31.53A1.127,1.127,0,0,1,20.27,30.4V18.017h1.689a.563.563,0,0,0,0-1.126H20.27V15.765a2.254,2.254,0,0,0-2.252-2.252H16.892V11.824a.563.563,0,0,0-1.126,0v1.689H3.379a1.127,1.127,0,0,1-1.126-1.126V3.941h1.23a1.672,1.672,0,0,0-.1.563V6.756A1.691,1.691,0,0,0,5.068,8.446H12.95A1.691,1.691,0,0,0,14.64,6.756V4.5a1.672,1.672,0,0,0-.1-.563h5.275a1.665,1.665,0,0,0-.1.563V6.756A1.691,1.691,0,0,0,21.4,8.446h3.378a.563.563,0,0,1,.563.563v3.378a1.691,1.691,0,0,0,1.689,1.689h2.252a1.665,1.665,0,0,0,.563-.1v5.275a1.665,1.665,0,0,0-.563-.1H27.026a1.691,1.691,0,0,0-1.689,1.689v7.882A1.691,1.691,0,0,0,27.026,30.4h2.252a1.672,1.672,0,0,0,.563-.1v1.23ZM13.513,4.5V6.756a.564.564,0,0,1-.563.563H5.068A.564.564,0,0,1,4.5,6.756V4.5a.564.564,0,0,1,.563-.563H12.95A.564.564,0,0,1,13.513,4.5ZM29.841,28.715a.564.564,0,0,1-.563.563H27.026a.564.564,0,0,1-.563-.563V20.832a.564.564,0,0,1,.563-.563h2.252a.564.564,0,0,1,.563.563Zm0-24.211v7.883a.563.563,0,0,1-.563.563H27.026a.564.564,0,0,1-.563-.563V9.009a1.691,1.691,0,0,0-1.689-1.689H21.4a.564.564,0,0,1-.563-.563V4.5a.563.563,0,0,1,.563-.563h7.883a.563.563,0,0,1,.563.563Zm2.815,28.152H30.967V3.941a1.127,1.127,0,0,0-1.126-1.126H1.127V1.126h31.53Zm0,0" transform="translate(-0.001)" fill="#939598"/>
</svg> <span>L Shape Sofas</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/sofa-cum-beds">
<span><svg xmlns="http://www.w3.org/2000/svg" width="78.28" height="35" viewBox="0 0 78.28 35">
<g id="Sofa_Cum_Beds" data-name="Sofa Cum Beds" transform="translate(-693 -95.081)">
<path id="_1_3seater-20" data-name="1_3seater-20"
d="M70.25,36.2c0-.02.011-.037.011-.057V28.379a5.264,5.264,0,0,0-3.771-5.029c0-.023,0-.042,0-.064,0-4.533-.909-6.663-5.562-6.663H1.679c-4.66,0-5.574,2.387-5.574,6.733a5.282,5.282,0,0,0-4.078,5.129V36.23A.824.824,0,0,0-8,36.363v13.45a.946.946,0,0,0,.945.945h1.181v-.08a.944.944,0,0,0,.944.945.945.945,0,0,0,.944-.945v.08H65.989v-.08a.944.944,0,1,0,1.888,0v.08h1.46a.945.945,0,0,0,.943-.945V36.363A.981.981,0,0,0,70.25,36.2Zm-48.7-.785v1.5h38.13v-1.5ZM2.6,36.921H19.663v-1.5H2.6Zm39.536,0H40.25v-1.5H42.14ZM21.552,36.06V18.515H19.662V36.061h1.891Zm46.82-7.681V35.2h-6.8V28.379a3.4,3.4,0,0,1,6.8,0Zm-3.882-5.231a5.266,5.266,0,0,0-4.808,5.231V36.06H42.14V18.515H60.926C64.5,18.515,64.439,20.579,64.491,23.149ZM1.679,18.515H40.251V36.061H2.6V28.486a5.274,5.274,0,0,0-4.527-5.2C-1.923,21.041-1.923,18.515,1.679,18.515Zm-7.762,9.97A3.4,3.4,0,0,1-2.673,25.1,3.392,3.392,0,0,1,.715,28.485v6.82h-6.8ZM68.393,48.868h-74.5V37.308h74.5V48.868Z"
transform="translate(701 78.458)" fill="#939598" />
<line id="Line_281" data-name="Line 281" x2="75.237" transform="translate(694.5 119.898)" fill="none"
stroke="#939598" stroke-width="2" />
</g>
</svg></span>
<span>Sofa Cum Beds</span>
</a>
</div>
</div>

{% if section.settings.view_all != blank %}
<center class="mb-40"><a href="" class="round-btn mb-30" >View all</a></center>
{% endif %}
</div>
{% endif %}   {% endcomment %}

{% comment %} {% if collection.handle == '1-seater-recliners' %}
<h6 class="heading">All Products</h6>
<div class="all-products text-center">

{% if section.settings.heading_title != blank %}
<center>
<h2 class="title">{{ section.settings.heading_title }}</h2>
</center>
{% endif %}

<div class="cat_slider">

<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/2-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="56.667"
height="34"
viewBox="0 0 56.667 34">
<path
id="sofa_6_"
data-name="sofa (6)"
d="M57.722,29.111a.944.944,0,0,0,.944-.944V24.389a.944.944,0,0,0-.944-.944H52.056V18.722A4.728,4.728,0,0,0,47.333,14H34.111a4.705,4.705,0,0,0-3.778,1.918A4.705,4.705,0,0,0,26.556,14H13.333a4.728,4.728,0,0,0-4.722,4.722v4.722H2.944A.944.944,0,0,0,2,24.389v3.778a.944.944,0,0,0,.944.944h.944v7.556H2.944A.944.944,0,0,0,2,37.611v3.778a.944.944,0,0,0,.944.944h.944v4.722A.944.944,0,0,0,4.833,48H6.722a.944.944,0,0,0,.9-.646l1.674-5.021H51.376l1.674,5.021a.944.944,0,0,0,.9.646h1.889a.944.944,0,0,0,.944-.944V42.333h.944a.944.944,0,0,0,.944-.944V37.611a.944.944,0,0,0-.944-.944h-.944V29.111Zm-.944-1.889H50.167a.944.944,0,0,0-.944.944v8.5H47.333V25.333h9.444ZM15.222,31.944A.944.944,0,0,1,16.167,31H28.444a.944.944,0,0,1,.944.944v4.722H15.222Zm16.056,0A.944.944,0,0,1,32.222,31H44.5a.944.944,0,0,1,.944.944v4.722H31.278ZM10.5,18.722a2.833,2.833,0,0,1,2.833-2.833H26.556a2.833,2.833,0,0,1,2.833,2.833v8.5h1.889v-8.5a2.833,2.833,0,0,1,2.833-2.833H47.333a2.833,2.833,0,0,1,2.833,2.833v4.722H47.333a1.889,1.889,0,0,0-1.889,1.889v3.952a2.8,2.8,0,0,0-.944-.174H32.222a2.815,2.815,0,0,0-1.889.737,2.815,2.815,0,0,0-1.889-.737H16.167a2.8,2.8,0,0,0-.944.174V25.333a1.889,1.889,0,0,0-1.889-1.889H10.5ZM3.889,25.333h9.444V36.667H11.444v-8.5a.944.944,0,0,0-.944-.944H3.889Zm1.889,3.778H9.556v7.556H5.778Zm.263,17H5.778V42.333H7.3Zm48.848,0h-.263l-1.26-3.778h1.523Zm1.889-5.667H3.889V38.556H56.778Zm-1.889-3.778H51.111V29.111h3.778Z"
transform="translate(-2 -14)"
fill="#939598" />
</svg>
</span>
<span>2 Seater Recliners</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/3-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="66.954"
height="34"
viewBox="0 0 66.954 34">
<g
id="sofa_7_"
data-name="sofa (7)"
transform="translate(0 -126.001)">
<g
id="Group_758"
data-name="Group 758"
transform="translate(0 126.001)">
<path
id="Path_576"
data-name="Path 576"
d="M63.019,134.636V130.65A4.726,4.726,0,0,0,58.23,126H46.806A4.834,4.834,0,0,0,43,127.834,4.835,4.835,0,0,0,39.189,126H27.765a4.835,4.835,0,0,0-3.808,1.833A4.834,4.834,0,0,0,20.149,126H8.724a4.726,4.726,0,0,0-4.789,4.649v3.986A4.7,4.7,0,0,0,0,139.21V154.5a1.606,1.606,0,0,0,1.616,1.592h6v2.321A1.606,1.606,0,0,0,9.232,160h6.347a1.606,1.606,0,0,0,1.616-1.592v-2.321H49.506v2.321A1.606,1.606,0,0,0,51.122,160h6.347a1.606,1.606,0,0,0,1.616-1.592v-2.321h6.255a1.606,1.606,0,0,0,1.616-1.592V139.21A4.7,4.7,0,0,0,63.019,134.636Zm-55.4,19.49H1.962V139.21a2.763,2.763,0,0,1,2.827-2.688,2.763,2.763,0,0,1,2.827,2.688v1.465H7.455a3.478,3.478,0,0,0-3.52,3.426v1.223a3.478,3.478,0,0,0,3.52,3.426h.162v5.375Zm-.162-7.337A1.515,1.515,0,0,1,5.9,145.325V144.1a1.515,1.515,0,0,1,1.558-1.465h6.093a.981.981,0,1,0,0-1.962H9.578v-1.465A4.687,4.687,0,0,0,5.9,134.688v-4.038a2.763,2.763,0,0,1,2.827-2.688H20.148a2.763,2.763,0,0,1,2.827,2.688v7.337a.981.981,0,1,0,1.962,0v-7.337a2.763,2.763,0,0,1,2.827-2.688H39.189a2.763,2.763,0,0,1,2.827,2.688v7.337a.981.981,0,1,0,1.962,0v-7.339a2.763,2.763,0,0,1,2.827-2.686H58.23a2.763,2.763,0,0,1,2.827,2.688v4.038a4.687,4.687,0,0,0-3.681,4.522v1.465H45.613A3.586,3.586,0,0,0,43,141.807a3.585,3.585,0,0,0-2.615-1.132H26.572a3.586,3.586,0,0,0-2.579,1.094,3.554,3.554,0,0,0-2.575-1.094h-3.84a.981.981,0,1,0,0,1.962h3.84a1.515,1.515,0,0,1,1.558,1.465v1.223a1.515,1.515,0,0,1-1.558,1.465Zm34.562-1.635a1.636,1.636,0,0,1-1.635,1.635H26.572a1.636,1.636,0,0,1-1.635-1.635v-.883a1.636,1.636,0,0,1,1.635-1.635h13.81a1.636,1.636,0,0,1,1.635,1.635v.883ZM15.233,158.04H9.578v-1.952h5.655v1.952Zm41.89,0H51.467v-1.952h5.655Zm-40.906-3.913H9.578v-5.375h11.84a3.554,3.554,0,0,0,2.575-1.094,3.585,3.585,0,0,0,2.579,1.094h13.81A3.586,3.586,0,0,0,43,147.619a3.586,3.586,0,0,0,2.615,1.132H57.376v5.375Zm29.4-7.337a1.636,1.636,0,0,1-1.635-1.635v-.883a1.636,1.636,0,0,1,1.635-1.635h13.81a1.636,1.636,0,0,1,1.635,1.635v.883a1.636,1.636,0,0,1-1.635,1.635Zm19.38,7.337H59.338v-5.375h.085a3.6,3.6,0,0,0,3.6-3.6v-.883a3.6,3.6,0,0,0-3.6-3.6h-.085V139.21a2.831,2.831,0,0,1,5.655,0Z"
transform="translate(0 -126.001)"
fill="#939598" />
</g>
</g>
</svg>
</span>
<span>3 Seater Recliners</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/recliner-sets">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="70.893"
height="34"
viewBox="0 0 70.893 34">
<g
id="sofa_8_"
data-name="sofa (8)"
transform="translate(0 -126.001)">
<g
id="Group_759"
data-name="Group 759"
transform="translate(0 126.001)">
<path
id="Path_577"
data-name="Path 577"
d="M66.726,134.636V130.65A4.879,4.879,0,0,0,61.655,126h-12.1a5.234,5.234,0,0,0-4.032,1.833A5.235,5.235,0,0,0,41.494,126H29.4a5.235,5.235,0,0,0-4.032,1.833A5.234,5.234,0,0,0,21.334,126H9.237a4.879,4.879,0,0,0-5.071,4.649v3.986A4.789,4.789,0,0,0,0,139.21V154.5a1.656,1.656,0,0,0,1.711,1.592H8.064v2.321A1.656,1.656,0,0,0,9.775,160H16.5a1.656,1.656,0,0,0,1.711-1.592v-2.321H52.418v2.321A1.656,1.656,0,0,0,54.129,160h6.72a1.656,1.656,0,0,0,1.711-1.592v-2.321h6.623a1.656,1.656,0,0,0,1.711-1.592V139.21A4.79,4.79,0,0,0,66.726,134.636ZM8.064,154.126H2.077V139.21a2.856,2.856,0,0,1,2.994-2.688,2.856,2.856,0,0,1,2.994,2.688v1.465H7.893A3.59,3.59,0,0,0,4.167,144.1v1.223a3.59,3.59,0,0,0,3.727,3.426h.171Zm-.171-7.337a1.567,1.567,0,0,1-1.65-1.465V144.1a1.567,1.567,0,0,1,1.65-1.465h6.451a.982.982,0,1,0,0-1.962h-4.2v-1.465a4.76,4.76,0,0,0-3.9-4.522v-4.038a2.856,2.856,0,0,1,2.994-2.688h12.1a2.856,2.856,0,0,1,2.994,2.688v7.337a1.04,1.04,0,0,0,2.077,0V130.65a2.856,2.856,0,0,1,2.994-2.688h12.1a2.856,2.856,0,0,1,2.994,2.688v7.337a1.04,1.04,0,0,0,2.077,0v-7.339a2.857,2.857,0,0,1,2.994-2.686h12.1a2.856,2.856,0,0,1,2.994,2.688v4.038a4.76,4.76,0,0,0-3.9,4.522v1.465H48.3a3.9,3.9,0,0,0-2.769,1.132,3.9,3.9,0,0,0-2.769-1.132H28.135a3.908,3.908,0,0,0-2.731,1.094,3.873,3.873,0,0,0-2.726-1.094H18.612a.982.982,0,1,0,0,1.962h4.066a1.567,1.567,0,0,1,1.65,1.465v1.223a1.567,1.567,0,0,1-1.65,1.465H7.893Zm36.6-1.635a1.687,1.687,0,0,1-1.731,1.635H28.135a1.687,1.687,0,0,1-1.731-1.635v-.883a1.687,1.687,0,0,1,1.731-1.635H42.757a1.687,1.687,0,0,1,1.731,1.635v.883ZM16.129,158.04H10.141v-1.952h5.987v1.952Zm44.354,0H54.495v-1.952h5.987ZM17.17,154.126H10.141v-5.375H22.678a3.873,3.873,0,0,0,2.726-1.094,3.907,3.907,0,0,0,2.731,1.094H42.757a3.9,3.9,0,0,0,2.769-1.132,3.9,3.9,0,0,0,2.769,1.132H60.751v5.375ZM48.3,146.789a1.687,1.687,0,0,1-1.731-1.635v-.883a1.687,1.687,0,0,1,1.731-1.635H62.918a1.687,1.687,0,0,1,1.731,1.635v.883a1.687,1.687,0,0,1-1.731,1.635Zm20.52,7.337H62.828v-5.375h.09a3.711,3.711,0,0,0,3.808-3.6v-.883a3.711,3.711,0,0,0-3.808-3.6h-.09V139.21a3.011,3.011,0,0,1,5.987,0Z"
transform="translate(0 -126.001)"
fill="#939598" />
</g>
</g>
</svg>
</span>
<span>Recliner Sets</span>
</a>
</div>

</div>

{% if section.settings.view_all != blank %}
<center class="mb-40">
<a href="" class="round-btn mb-30">View all</a>
</center>
{% endif %}
</div>
{% endif %}

{% if collection.handle == '2-seater-recliners' %}
<h6 class="heading">All Products</h6>
<div class="all-products text-center">

{% if section.settings.heading_title != blank %}
<center>
<h2 class="title">{{ section.settings.heading_title }}</h2>
</center>
{% endif %}

<div class="cat_slider">
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/1-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="33.39"
height="34.702"
viewBox="0 0 33.39 34.702">
<path
id="armchair"
d="M62.625,52.879a5.554,5.554,0,0,0-1.138-3.373,5.339,5.339,0,0,0-4.074-8.8H42.673a5.333,5.333,0,0,0-1.243.152l-.905-8.227A5.6,5.6,0,1,0,29.4,33.858l2.154,19.574a5.871,5.871,0,0,0,5.582,5.035L36.209,61.7l2.257.647,1.112-3.877H57.03a5.588,5.588,0,0,0,.822-.067l1.131,3.945L61.24,61.7l-1.183-4.127A5.593,5.593,0,0,0,62.625,52.879Zm-5.213-9.823a3,3,0,0,1,0,6H42.673a3,3,0,0,1,0-6Zm-.383,13.071H37.337a3.247,3.247,0,0,1-.979-.151l-.057-.016a3.265,3.265,0,0,1-2.413-2.785L31.734,33.6a3.252,3.252,0,0,1,2.874-3.584,3.382,3.382,0,0,1,.361-.02,3.241,3.241,0,0,1,3.223,2.893l1,9.114a5.339,5.339,0,0,0,3.478,9.4h14.74a5.3,5.3,0,0,0,2.2-.48,3.219,3.219,0,0,1,.665,1.959A3.252,3.252,0,0,1,57.029,56.127Z"
transform="translate(-29.367 -27.65)"
fill="#939598" />
</svg>
</span>
<span>1 Seater Recliners</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/3-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="66.954"
height="34"
viewBox="0 0 66.954 34">
<g
id="sofa_7_"
data-name="sofa (7)"
transform="translate(0 -126.001)">
<g
id="Group_758"
data-name="Group 758"
transform="translate(0 126.001)">
<path
id="Path_576"
data-name="Path 576"
d="M63.019,134.636V130.65A4.726,4.726,0,0,0,58.23,126H46.806A4.834,4.834,0,0,0,43,127.834,4.835,4.835,0,0,0,39.189,126H27.765a4.835,4.835,0,0,0-3.808,1.833A4.834,4.834,0,0,0,20.149,126H8.724a4.726,4.726,0,0,0-4.789,4.649v3.986A4.7,4.7,0,0,0,0,139.21V154.5a1.606,1.606,0,0,0,1.616,1.592h6v2.321A1.606,1.606,0,0,0,9.232,160h6.347a1.606,1.606,0,0,0,1.616-1.592v-2.321H49.506v2.321A1.606,1.606,0,0,0,51.122,160h6.347a1.606,1.606,0,0,0,1.616-1.592v-2.321h6.255a1.606,1.606,0,0,0,1.616-1.592V139.21A4.7,4.7,0,0,0,63.019,134.636Zm-55.4,19.49H1.962V139.21a2.763,2.763,0,0,1,2.827-2.688,2.763,2.763,0,0,1,2.827,2.688v1.465H7.455a3.478,3.478,0,0,0-3.52,3.426v1.223a3.478,3.478,0,0,0,3.52,3.426h.162v5.375Zm-.162-7.337A1.515,1.515,0,0,1,5.9,145.325V144.1a1.515,1.515,0,0,1,1.558-1.465h6.093a.981.981,0,1,0,0-1.962H9.578v-1.465A4.687,4.687,0,0,0,5.9,134.688v-4.038a2.763,2.763,0,0,1,2.827-2.688H20.148a2.763,2.763,0,0,1,2.827,2.688v7.337a.981.981,0,1,0,1.962,0v-7.337a2.763,2.763,0,0,1,2.827-2.688H39.189a2.763,2.763,0,0,1,2.827,2.688v7.337a.981.981,0,1,0,1.962,0v-7.339a2.763,2.763,0,0,1,2.827-2.686H58.23a2.763,2.763,0,0,1,2.827,2.688v4.038a4.687,4.687,0,0,0-3.681,4.522v1.465H45.613A3.586,3.586,0,0,0,43,141.807a3.585,3.585,0,0,0-2.615-1.132H26.572a3.586,3.586,0,0,0-2.579,1.094,3.554,3.554,0,0,0-2.575-1.094h-3.84a.981.981,0,1,0,0,1.962h3.84a1.515,1.515,0,0,1,1.558,1.465v1.223a1.515,1.515,0,0,1-1.558,1.465Zm34.562-1.635a1.636,1.636,0,0,1-1.635,1.635H26.572a1.636,1.636,0,0,1-1.635-1.635v-.883a1.636,1.636,0,0,1,1.635-1.635h13.81a1.636,1.636,0,0,1,1.635,1.635v.883ZM15.233,158.04H9.578v-1.952h5.655v1.952Zm41.89,0H51.467v-1.952h5.655Zm-40.906-3.913H9.578v-5.375h11.84a3.554,3.554,0,0,0,2.575-1.094,3.585,3.585,0,0,0,2.579,1.094h13.81A3.586,3.586,0,0,0,43,147.619a3.586,3.586,0,0,0,2.615,1.132H57.376v5.375Zm29.4-7.337a1.636,1.636,0,0,1-1.635-1.635v-.883a1.636,1.636,0,0,1,1.635-1.635h13.81a1.636,1.636,0,0,1,1.635,1.635v.883a1.636,1.636,0,0,1-1.635,1.635Zm19.38,7.337H59.338v-5.375h.085a3.6,3.6,0,0,0,3.6-3.6v-.883a3.6,3.6,0,0,0-3.6-3.6h-.085V139.21a2.831,2.831,0,0,1,5.655,0Z"
transform="translate(0 -126.001)"
fill="#939598" />
</g>
</g>
</svg>
</span>
<span>3 Seater Recliners</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/recliner-sets">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="70.893"
height="34"
viewBox="0 0 70.893 34">
<g
id="sofa_8_"
data-name="sofa (8)"
transform="translate(0 -126.001)">
<g
id="Group_759"
data-name="Group 759"
transform="translate(0 126.001)">
<path
id="Path_577"
data-name="Path 577"
d="M66.726,134.636V130.65A4.879,4.879,0,0,0,61.655,126h-12.1a5.234,5.234,0,0,0-4.032,1.833A5.235,5.235,0,0,0,41.494,126H29.4a5.235,5.235,0,0,0-4.032,1.833A5.234,5.234,0,0,0,21.334,126H9.237a4.879,4.879,0,0,0-5.071,4.649v3.986A4.789,4.789,0,0,0,0,139.21V154.5a1.656,1.656,0,0,0,1.711,1.592H8.064v2.321A1.656,1.656,0,0,0,9.775,160H16.5a1.656,1.656,0,0,0,1.711-1.592v-2.321H52.418v2.321A1.656,1.656,0,0,0,54.129,160h6.72a1.656,1.656,0,0,0,1.711-1.592v-2.321h6.623a1.656,1.656,0,0,0,1.711-1.592V139.21A4.79,4.79,0,0,0,66.726,134.636ZM8.064,154.126H2.077V139.21a2.856,2.856,0,0,1,2.994-2.688,2.856,2.856,0,0,1,2.994,2.688v1.465H7.893A3.59,3.59,0,0,0,4.167,144.1v1.223a3.59,3.59,0,0,0,3.727,3.426h.171Zm-.171-7.337a1.567,1.567,0,0,1-1.65-1.465V144.1a1.567,1.567,0,0,1,1.65-1.465h6.451a.982.982,0,1,0,0-1.962h-4.2v-1.465a4.76,4.76,0,0,0-3.9-4.522v-4.038a2.856,2.856,0,0,1,2.994-2.688h12.1a2.856,2.856,0,0,1,2.994,2.688v7.337a1.04,1.04,0,0,0,2.077,0V130.65a2.856,2.856,0,0,1,2.994-2.688h12.1a2.856,2.856,0,0,1,2.994,2.688v7.337a1.04,1.04,0,0,0,2.077,0v-7.339a2.857,2.857,0,0,1,2.994-2.686h12.1a2.856,2.856,0,0,1,2.994,2.688v4.038a4.76,4.76,0,0,0-3.9,4.522v1.465H48.3a3.9,3.9,0,0,0-2.769,1.132,3.9,3.9,0,0,0-2.769-1.132H28.135a3.908,3.908,0,0,0-2.731,1.094,3.873,3.873,0,0,0-2.726-1.094H18.612a.982.982,0,1,0,0,1.962h4.066a1.567,1.567,0,0,1,1.65,1.465v1.223a1.567,1.567,0,0,1-1.65,1.465H7.893Zm36.6-1.635a1.687,1.687,0,0,1-1.731,1.635H28.135a1.687,1.687,0,0,1-1.731-1.635v-.883a1.687,1.687,0,0,1,1.731-1.635H42.757a1.687,1.687,0,0,1,1.731,1.635v.883ZM16.129,158.04H10.141v-1.952h5.987v1.952Zm44.354,0H54.495v-1.952h5.987ZM17.17,154.126H10.141v-5.375H22.678a3.873,3.873,0,0,0,2.726-1.094,3.907,3.907,0,0,0,2.731,1.094H42.757a3.9,3.9,0,0,0,2.769-1.132,3.9,3.9,0,0,0,2.769,1.132H60.751v5.375ZM48.3,146.789a1.687,1.687,0,0,1-1.731-1.635v-.883a1.687,1.687,0,0,1,1.731-1.635H62.918a1.687,1.687,0,0,1,1.731,1.635v.883a1.687,1.687,0,0,1-1.731,1.635Zm20.52,7.337H62.828v-5.375h.09a3.711,3.711,0,0,0,3.808-3.6v-.883a3.711,3.711,0,0,0-3.808-3.6h-.09V139.21a3.011,3.011,0,0,1,5.987,0Z"
transform="translate(0 -126.001)"
fill="#939598" />
</g>
</g>
</svg>
</span>
<span>Recliner Sets</span>
</a>
</div>

</div>

{% if section.settings.view_all != blank %}
<center class="mb-40">
<a href="" class="round-btn mb-30">View all</a>
</center>
{% endif %}
</div>
{% endif %}

{% if collection.handle == '3-seater-recliners' %}
<h6 class="heading">All Products</h6>
<div class="all-products text-center">

{% if section.settings.heading_title != blank %}
<center>
<h2 class="title">{{ section.settings.heading_title }}</h2>
</center>
{% endif %}

<div class="cat_slider">
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/1-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="33.39"
height="34.702"
viewBox="0 0 33.39 34.702">
<path
id="armchair"
d="M62.625,52.879a5.554,5.554,0,0,0-1.138-3.373,5.339,5.339,0,0,0-4.074-8.8H42.673a5.333,5.333,0,0,0-1.243.152l-.905-8.227A5.6,5.6,0,1,0,29.4,33.858l2.154,19.574a5.871,5.871,0,0,0,5.582,5.035L36.209,61.7l2.257.647,1.112-3.877H57.03a5.588,5.588,0,0,0,.822-.067l1.131,3.945L61.24,61.7l-1.183-4.127A5.593,5.593,0,0,0,62.625,52.879Zm-5.213-9.823a3,3,0,0,1,0,6H42.673a3,3,0,0,1,0-6Zm-.383,13.071H37.337a3.247,3.247,0,0,1-.979-.151l-.057-.016a3.265,3.265,0,0,1-2.413-2.785L31.734,33.6a3.252,3.252,0,0,1,2.874-3.584,3.382,3.382,0,0,1,.361-.02,3.241,3.241,0,0,1,3.223,2.893l1,9.114a5.339,5.339,0,0,0,3.478,9.4h14.74a5.3,5.3,0,0,0,2.2-.48,3.219,3.219,0,0,1,.665,1.959A3.252,3.252,0,0,1,57.029,56.127Z"
transform="translate(-29.367 -27.65)"
fill="#939598" />
</svg>
</span>
<span>1 Seater Recliners</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/2-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="56.667"
height="34"
viewBox="0 0 56.667 34">
<path
id="sofa_6_"
data-name="sofa (6)"
d="M57.722,29.111a.944.944,0,0,0,.944-.944V24.389a.944.944,0,0,0-.944-.944H52.056V18.722A4.728,4.728,0,0,0,47.333,14H34.111a4.705,4.705,0,0,0-3.778,1.918A4.705,4.705,0,0,0,26.556,14H13.333a4.728,4.728,0,0,0-4.722,4.722v4.722H2.944A.944.944,0,0,0,2,24.389v3.778a.944.944,0,0,0,.944.944h.944v7.556H2.944A.944.944,0,0,0,2,37.611v3.778a.944.944,0,0,0,.944.944h.944v4.722A.944.944,0,0,0,4.833,48H6.722a.944.944,0,0,0,.9-.646l1.674-5.021H51.376l1.674,5.021a.944.944,0,0,0,.9.646h1.889a.944.944,0,0,0,.944-.944V42.333h.944a.944.944,0,0,0,.944-.944V37.611a.944.944,0,0,0-.944-.944h-.944V29.111Zm-.944-1.889H50.167a.944.944,0,0,0-.944.944v8.5H47.333V25.333h9.444ZM15.222,31.944A.944.944,0,0,1,16.167,31H28.444a.944.944,0,0,1,.944.944v4.722H15.222Zm16.056,0A.944.944,0,0,1,32.222,31H44.5a.944.944,0,0,1,.944.944v4.722H31.278ZM10.5,18.722a2.833,2.833,0,0,1,2.833-2.833H26.556a2.833,2.833,0,0,1,2.833,2.833v8.5h1.889v-8.5a2.833,2.833,0,0,1,2.833-2.833H47.333a2.833,2.833,0,0,1,2.833,2.833v4.722H47.333a1.889,1.889,0,0,0-1.889,1.889v3.952a2.8,2.8,0,0,0-.944-.174H32.222a2.815,2.815,0,0,0-1.889.737,2.815,2.815,0,0,0-1.889-.737H16.167a2.8,2.8,0,0,0-.944.174V25.333a1.889,1.889,0,0,0-1.889-1.889H10.5ZM3.889,25.333h9.444V36.667H11.444v-8.5a.944.944,0,0,0-.944-.944H3.889Zm1.889,3.778H9.556v7.556H5.778Zm.263,17H5.778V42.333H7.3Zm48.848,0h-.263l-1.26-3.778h1.523Zm1.889-5.667H3.889V38.556H56.778Zm-1.889-3.778H51.111V29.111h3.778Z"
transform="translate(-2 -14)"
fill="#939598" />
</svg>
</span>
<span>2 Seater Recliners</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/recliner-sets">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="70.893"
height="34"
viewBox="0 0 70.893 34">
<g
id="sofa_8_"
data-name="sofa (8)"
transform="translate(0 -126.001)">
<g
id="Group_759"
data-name="Group 759"
transform="translate(0 126.001)">
<path
id="Path_577"
data-name="Path 577"
d="M66.726,134.636V130.65A4.879,4.879,0,0,0,61.655,126h-12.1a5.234,5.234,0,0,0-4.032,1.833A5.235,5.235,0,0,0,41.494,126H29.4a5.235,5.235,0,0,0-4.032,1.833A5.234,5.234,0,0,0,21.334,126H9.237a4.879,4.879,0,0,0-5.071,4.649v3.986A4.789,4.789,0,0,0,0,139.21V154.5a1.656,1.656,0,0,0,1.711,1.592H8.064v2.321A1.656,1.656,0,0,0,9.775,160H16.5a1.656,1.656,0,0,0,1.711-1.592v-2.321H52.418v2.321A1.656,1.656,0,0,0,54.129,160h6.72a1.656,1.656,0,0,0,1.711-1.592v-2.321h6.623a1.656,1.656,0,0,0,1.711-1.592V139.21A4.79,4.79,0,0,0,66.726,134.636ZM8.064,154.126H2.077V139.21a2.856,2.856,0,0,1,2.994-2.688,2.856,2.856,0,0,1,2.994,2.688v1.465H7.893A3.59,3.59,0,0,0,4.167,144.1v1.223a3.59,3.59,0,0,0,3.727,3.426h.171Zm-.171-7.337a1.567,1.567,0,0,1-1.65-1.465V144.1a1.567,1.567,0,0,1,1.65-1.465h6.451a.982.982,0,1,0,0-1.962h-4.2v-1.465a4.76,4.76,0,0,0-3.9-4.522v-4.038a2.856,2.856,0,0,1,2.994-2.688h12.1a2.856,2.856,0,0,1,2.994,2.688v7.337a1.04,1.04,0,0,0,2.077,0V130.65a2.856,2.856,0,0,1,2.994-2.688h12.1a2.856,2.856,0,0,1,2.994,2.688v7.337a1.04,1.04,0,0,0,2.077,0v-7.339a2.857,2.857,0,0,1,2.994-2.686h12.1a2.856,2.856,0,0,1,2.994,2.688v4.038a4.76,4.76,0,0,0-3.9,4.522v1.465H48.3a3.9,3.9,0,0,0-2.769,1.132,3.9,3.9,0,0,0-2.769-1.132H28.135a3.908,3.908,0,0,0-2.731,1.094,3.873,3.873,0,0,0-2.726-1.094H18.612a.982.982,0,1,0,0,1.962h4.066a1.567,1.567,0,0,1,1.65,1.465v1.223a1.567,1.567,0,0,1-1.65,1.465H7.893Zm36.6-1.635a1.687,1.687,0,0,1-1.731,1.635H28.135a1.687,1.687,0,0,1-1.731-1.635v-.883a1.687,1.687,0,0,1,1.731-1.635H42.757a1.687,1.687,0,0,1,1.731,1.635v.883ZM16.129,158.04H10.141v-1.952h5.987v1.952Zm44.354,0H54.495v-1.952h5.987ZM17.17,154.126H10.141v-5.375H22.678a3.873,3.873,0,0,0,2.726-1.094,3.907,3.907,0,0,0,2.731,1.094H42.757a3.9,3.9,0,0,0,2.769-1.132,3.9,3.9,0,0,0,2.769,1.132H60.751v5.375ZM48.3,146.789a1.687,1.687,0,0,1-1.731-1.635v-.883a1.687,1.687,0,0,1,1.731-1.635H62.918a1.687,1.687,0,0,1,1.731,1.635v.883a1.687,1.687,0,0,1-1.731,1.635Zm20.52,7.337H62.828v-5.375h.09a3.711,3.711,0,0,0,3.808-3.6v-.883a3.711,3.711,0,0,0-3.808-3.6h-.09V139.21a3.011,3.011,0,0,1,5.987,0Z"
transform="translate(0 -126.001)"
fill="#939598" />
</g>
</g>
</svg>
</span>
<span>Recliner Sets</span>
</a>
</div>

</div>

{% if section.settings.view_all != blank %}
<center class="mb-40">
<a href="" class="round-btn mb-30">View all</a>
</center>
{% endif %}
</div>
{% endif %}

{% if collection.handle == 'recliner-sets' %}
<h6 class="heading">All Products</h6>
<div class="all-products text-center">

{% if section.settings.heading_title != blank %}
<center>
<h2 class="title">{{ section.settings.heading_title }}</h2>
</center>
{% endif %}

<div class="cat_slider">
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/1-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="33.39"
height="34.702"
viewBox="0 0 33.39 34.702">
<path
id="armchair"
d="M62.625,52.879a5.554,5.554,0,0,0-1.138-3.373,5.339,5.339,0,0,0-4.074-8.8H42.673a5.333,5.333,0,0,0-1.243.152l-.905-8.227A5.6,5.6,0,1,0,29.4,33.858l2.154,19.574a5.871,5.871,0,0,0,5.582,5.035L36.209,61.7l2.257.647,1.112-3.877H57.03a5.588,5.588,0,0,0,.822-.067l1.131,3.945L61.24,61.7l-1.183-4.127A5.593,5.593,0,0,0,62.625,52.879Zm-5.213-9.823a3,3,0,0,1,0,6H42.673a3,3,0,0,1,0-6Zm-.383,13.071H37.337a3.247,3.247,0,0,1-.979-.151l-.057-.016a3.265,3.265,0,0,1-2.413-2.785L31.734,33.6a3.252,3.252,0,0,1,2.874-3.584,3.382,3.382,0,0,1,.361-.02,3.241,3.241,0,0,1,3.223,2.893l1,9.114a5.339,5.339,0,0,0,3.478,9.4h14.74a5.3,5.3,0,0,0,2.2-.48,3.219,3.219,0,0,1,.665,1.959A3.252,3.252,0,0,1,57.029,56.127Z"
transform="translate(-29.367 -27.65)"
fill="#939598" />
</svg>
</span>
<span>1 Seater Recliners</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/2-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="56.667"
height="34"
viewBox="0 0 56.667 34">
<path
id="sofa_6_"
data-name="sofa (6)"
d="M57.722,29.111a.944.944,0,0,0,.944-.944V24.389a.944.944,0,0,0-.944-.944H52.056V18.722A4.728,4.728,0,0,0,47.333,14H34.111a4.705,4.705,0,0,0-3.778,1.918A4.705,4.705,0,0,0,26.556,14H13.333a4.728,4.728,0,0,0-4.722,4.722v4.722H2.944A.944.944,0,0,0,2,24.389v3.778a.944.944,0,0,0,.944.944h.944v7.556H2.944A.944.944,0,0,0,2,37.611v3.778a.944.944,0,0,0,.944.944h.944v4.722A.944.944,0,0,0,4.833,48H6.722a.944.944,0,0,0,.9-.646l1.674-5.021H51.376l1.674,5.021a.944.944,0,0,0,.9.646h1.889a.944.944,0,0,0,.944-.944V42.333h.944a.944.944,0,0,0,.944-.944V37.611a.944.944,0,0,0-.944-.944h-.944V29.111Zm-.944-1.889H50.167a.944.944,0,0,0-.944.944v8.5H47.333V25.333h9.444ZM15.222,31.944A.944.944,0,0,1,16.167,31H28.444a.944.944,0,0,1,.944.944v4.722H15.222Zm16.056,0A.944.944,0,0,1,32.222,31H44.5a.944.944,0,0,1,.944.944v4.722H31.278ZM10.5,18.722a2.833,2.833,0,0,1,2.833-2.833H26.556a2.833,2.833,0,0,1,2.833,2.833v8.5h1.889v-8.5a2.833,2.833,0,0,1,2.833-2.833H47.333a2.833,2.833,0,0,1,2.833,2.833v4.722H47.333a1.889,1.889,0,0,0-1.889,1.889v3.952a2.8,2.8,0,0,0-.944-.174H32.222a2.815,2.815,0,0,0-1.889.737,2.815,2.815,0,0,0-1.889-.737H16.167a2.8,2.8,0,0,0-.944.174V25.333a1.889,1.889,0,0,0-1.889-1.889H10.5ZM3.889,25.333h9.444V36.667H11.444v-8.5a.944.944,0,0,0-.944-.944H3.889Zm1.889,3.778H9.556v7.556H5.778Zm.263,17H5.778V42.333H7.3Zm48.848,0h-.263l-1.26-3.778h1.523Zm1.889-5.667H3.889V38.556H56.778Zm-1.889-3.778H51.111V29.111h3.778Z"
transform="translate(-2 -14)"
fill="#939598" />
</svg>
</span>
<span>2 Seater Recliners</span>
</a>
</div>
<div class="slide">
<a href="https://www.nilkamalfurniture.com/collections/3-seater-recliners">
<span>
<svg
xmlns="http://www.w3.org/2000/svg"
width="66.954"
height="34"
viewBox="0 0 66.954 34">
<g
id="sofa_7_"
data-name="sofa (7)"
transform="translate(0 -126.001)">
<g
id="Group_758"
data-name="Group 758"
transform="translate(0 126.001)">
<path
id="Path_576"
data-name="Path 576"
d="M63.019,134.636V130.65A4.726,4.726,0,0,0,58.23,126H46.806A4.834,4.834,0,0,0,43,127.834,4.835,4.835,0,0,0,39.189,126H27.765a4.835,4.835,0,0,0-3.808,1.833A4.834,4.834,0,0,0,20.149,126H8.724a4.726,4.726,0,0,0-4.789,4.649v3.986A4.7,4.7,0,0,0,0,139.21V154.5a1.606,1.606,0,0,0,1.616,1.592h6v2.321A1.606,1.606,0,0,0,9.232,160h6.347a1.606,1.606,0,0,0,1.616-1.592v-2.321H49.506v2.321A1.606,1.606,0,0,0,51.122,160h6.347a1.606,1.606,0,0,0,1.616-1.592v-2.321h6.255a1.606,1.606,0,0,0,1.616-1.592V139.21A4.7,4.7,0,0,0,63.019,134.636Zm-55.4,19.49H1.962V139.21a2.763,2.763,0,0,1,2.827-2.688,2.763,2.763,0,0,1,2.827,2.688v1.465H7.455a3.478,3.478,0,0,0-3.52,3.426v1.223a3.478,3.478,0,0,0,3.52,3.426h.162v5.375Zm-.162-7.337A1.515,1.515,0,0,1,5.9,145.325V144.1a1.515,1.515,0,0,1,1.558-1.465h6.093a.981.981,0,1,0,0-1.962H9.578v-1.465A4.687,4.687,0,0,0,5.9,134.688v-4.038a2.763,2.763,0,0,1,2.827-2.688H20.148a2.763,2.763,0,0,1,2.827,2.688v7.337a.981.981,0,1,0,1.962,0v-7.337a2.763,2.763,0,0,1,2.827-2.688H39.189a2.763,2.763,0,0,1,2.827,2.688v7.337a.981.981,0,1,0,1.962,0v-7.339a2.763,2.763,0,0,1,2.827-2.686H58.23a2.763,2.763,0,0,1,2.827,2.688v4.038a4.687,4.687,0,0,0-3.681,4.522v1.465H45.613A3.586,3.586,0,0,0,43,141.807a3.585,3.585,0,0,0-2.615-1.132H26.572a3.586,3.586,0,0,0-2.579,1.094,3.554,3.554,0,0,0-2.575-1.094h-3.84a.981.981,0,1,0,0,1.962h3.84a1.515,1.515,0,0,1,1.558,1.465v1.223a1.515,1.515,0,0,1-1.558,1.465Zm34.562-1.635a1.636,1.636,0,0,1-1.635,1.635H26.572a1.636,1.636,0,0,1-1.635-1.635v-.883a1.636,1.636,0,0,1,1.635-1.635h13.81a1.636,1.636,0,0,1,1.635,1.635v.883ZM15.233,158.04H9.578v-1.952h5.655v1.952Zm41.89,0H51.467v-1.952h5.655Zm-40.906-3.913H9.578v-5.375h11.84a3.554,3.554,0,0,0,2.575-1.094,3.585,3.585,0,0,0,2.579,1.094h13.81A3.586,3.586,0,0,0,43,147.619a3.586,3.586,0,0,0,2.615,1.132H57.376v5.375Zm29.4-7.337a1.636,1.636,0,0,1-1.635-1.635v-.883a1.636,1.636,0,0,1,1.635-1.635h13.81a1.636,1.636,0,0,1,1.635,1.635v.883a1.636,1.636,0,0,1-1.635,1.635Zm19.38,7.337H59.338v-5.375h.085a3.6,3.6,0,0,0,3.6-3.6v-.883a3.6,3.6,0,0,0-3.6-3.6h-.085V139.21a2.831,2.831,0,0,1,5.655,0Z"
transform="translate(0 -126.001)"
fill="#939598" />
</g>
</g>
</svg>
</span>
<span>3 Seater Recliners</span>
</a>
</div>

</div>

{% if section.settings.view_all != blank %}
<center class="mb-40">
<a href="" class="round-btn mb-30">View all</a>
</center>
{% endif %}
</div>
{% endif %}{% endcomment %}