{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% capture list %}
{% for image in product.images %}
{% comment %}Loop through images only once{% endcomment %}
{{ image.id }}`~`{{ image.alt }}`~`{{ image | product_img_url: '100x' }}`~`{{ image | product_img_url: '200x' }}`~`{{ image | product_img_url: '400x' }}`~`{{ image | product_img_url: '600x' }}`~`{{ image | product_img_url: '800x' }}`~`{{ image | product_img_url: '1200x' }}`~`{{ image | product_img_url: '2000x' }}`~`{{-image.width-}}px`~`{{-image.height-}}px{% if forloop.last == false %}^{% endif %}
{% endfor %}
{% endcapture %}

{% if product.tags contains 'Online Exclusive' %}
<div class="blinking-background">ONLINE EXCLUSIVE</div>
{% endif %}
{% if product.tags contains 'pfs:label-Best-Seller' %}
<div class="best_seller-background">BEST SELLER</div>
{% endif %}
{% if product.tags contains 'pfs:label-New-Launch' %}
<div class="new_launch-background">NEW LAUNCH</div>
{% endif %}
{% if product.tags contains 'pfs:label-Freedom-Special' %}
<div class="freedom_special-background">FREEDOM SPECIAL</div>
{% endif %}
{% if product.tags contains 'pfs:label-Flash-Deal' %}
<div class="flash_deal-background"><span class="flash_img">{%- render 'flash_deal_svg' -%}</span> <span class="flash_txt">FLASH DEAL</span> <span class="flash_img">{%- render 'flash_deal_svg' -%}</span></div>
{% endif %}

{% assign image_list = list | split: "^" %}
<div class="gallery-wrap js-product-page-gallery clearfix
            gallery-arrows--{{section.settings.gallery_arrows}}
            {% if section.settings.product_thumbs %} {{ section.settings.thumbnail_position }} {% endif %}
            slideshow_animation--{{ section.settings.slideshow_animation }}
            ">
  <div class="product_gallery product-{{ product.id }}-gallery
              {% if product.images.size > 1 %} multi-image {% endif %}
              {% if product.images.size <= 1 %} single-image {% endif %}
              {% if settings.slideshow_button_style != true %}light-button{% endif %}
              " data-zoom="{{ section.settings.activate_zoom }}"
    data-autoplay="{{ section.settings.activate_autoplay }}">

    {% for image_item in image_list %}
    {% assign image = image_item | split: "`~`" %}
    {% capture image_id %}{{ image[0] | strip }}{% endcapture %}
    {% capture image_alt %}{{ image[1] | strip }}{% endcapture %}
    {% capture image_100x %}{{ image[2] }}{% endcapture %}
    {% capture image_200x %}{{ image[3] }}{% endcapture %}
    {% capture image_400x %}{{ image[4] }}{% endcapture %}
    {% capture image_600x %}{{ image[5] }}{% endcapture %}
    {% capture image_800x %}{{ image[6] }}{% endcapture %}
    {% capture image_1200x %}{{ image[7] }}{% endcapture %}
    {% capture image_2000x %}{{ image[8] }}{% endcapture %}
    {% capture original_image_width %}{{- image[9] -}}{% endcapture %}
    {% capture original_image_height %}{{- image[10] -}}{% endcapture %}
    <div class="gallery-cell" data-thumb="{{ image_large }}"
      data-title="{% if image_alt contains 'youtube' or image_alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image_alt | escape }}{% endif %}"
      data-image-height="{{ original_image_height | strip }}" data-image-width="{{ original_image_width | strip }}">
      {% if image_alt contains 'youtube' or image_alt contains 'vimeo' %}
      {% assign src = image_alt | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first %}

      {% if src contains '?' %}
      {% assign src = src | append: '&amp;autoplay=1&amp;rel=0' %}
      {% else %}
      {% assign src = src | append: '?autoplay=1&amp;rel=0' %}
      {% endif %}

      <div>
        <a href="{{ src }}" title="{{ product.title | escape }}">
          {{ image_alt }}
        </a>
      </div>
      {% else %}
      {% if template != 'index' and section.settings.enable_product_lightbox %}
      <a href="{{ image_800x }}" class="lightbox" rel="gallery" data-fancybox-group="gallery"
        data-lightbox-zoom="{{ section.settings.activate_zoom }}">
        {% endif %}
        {% if image_width == 'full' %}
        <div class="image__container" style="max-width: {{original_image_width}}">
          <img class=" lazyload {{ settings.image_loading_style }}" data-src="{{ image_1200x }}"
            alt="{{ image_alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image_id }}" />
        </div>
        {% else %}
        <div class="image__container" >
          <img class="lazyload {{ settings.image_loading_style }}" data-src="{{ image_100x }}"
            alt="{{ image_alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image_id }}"
            data-sizes="{% if section.settings.enable_product_lightbox %}100vw{% else %}auto{% endif %}"
            data-src="{{ image_2000x }}" srcset=" {{ image_200x }} 200w, {{ image_400x }} 400w,{{ image_600x }} 600w,{{ image_800x }} 800w,{{ image_1200x }} 1200w,{{ image_2000x }} 2000w" />
        </div>
        {% endif %}
        {% if template != 'index' and section.settings.enable_product_lightbox %}
      </a>
      {% endif %}
      {% endif %}
    </div>
    {% endfor %}
    {% comment %}
    <span class="modal_price">
      {% if section.settings.display_savings %}
      <span class="sale savings">
        {% if variant.price < variant.compare_at_price and variant.available %}
        <!--{{ 'products.product.savings' | t }}  -->
        {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% OFF

        {% endif %}
      </span>
      {% endif %}
    </span>
    {% endcomment %}

  </div>
  <div class="zoomImage">

  </div>
  {% if section.settings.product_thumbs %}
  {% if product.images.size > 1 and image_width != 'full' %}
  <div class="product_gallery_nav">
    <div class="carousel-nav product-{{ product.id }}-gallery-nav">
      {% for image_item in image_list %}
      {% assign image = image_item | split: "`~`" %}
      {% capture image_id %}{{ image[0] | strip }}{% endcapture %}
      {% capture image_alt %}{{ image[1] | strip }}{% endcapture %}
      {% capture image_100x %}{{ image[2] }}{% endcapture %}
      {% capture image_200x %}{{ image[3] }}{% endcapture %}
      {% capture image_400x %}{{ image[4] }}{% endcapture %}
      {% capture image_600x %}{{ image[5] }}{% endcapture %}
      {% capture image_800x %}{{ image[6] }}{% endcapture %}
      {% capture image_1200x %}{{ image[7] }}{% endcapture %}
      {% capture image_2000x %}{{ image[8] }}{% endcapture %}
      <div class="carousel-cell" data-title="{{ image_alt | escape }}">
        <img class="lazyload" data-src="{{ image_400x }}" alt="{{ image_alt | escape }}"
          data-index="{{ forloop.index0 }}" data-image-id="{{ image_id }}"
          data-featured-image="{{featured_image.id}}" />
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endif %}
</div>
<div class="pdp customer-services">
  <div class="container">
    <div class="item">
      {% include 'svg-icons', id:'easy_emi' %}
      <span>
        <span>Easy EMI <br />Options</span>
        {% comment %}<a href="javascript:void(0);" class="">View Plan</a>{% endcomment %}
      </span>
    </div>
    <div class="item">
      {% include 'svg-icons', id:'free_delivery' %}
      <span>Free Home <br />Delivery*</span>
    </div>
    <div class="item">
      {% include 'svg-icons', id:'quality_assurance' %}
      <span>Quality <br />Assurance</span>
    </div>
    {% assign free_asembly =  product.metafields.Product["Free Asembly Yes"] %}
    {% if free_asembly == 'Yes' %}
    <div class="item">
      {% include 'svg-icons', id:'free_assembly' %}
      <span>
        <span>Free <br />Assembly</span>
        {% comment %}<a href="javascript:void(0);" class="">View Offer</a>{% endcomment %}
      </span>
    </div>
    {% endif %}
  </div>
</div>

<div class="sharing social-links" sty>
  <ul>
    <li class="sharepoint">
      <a href="#">
        {% if product.handle contains 'nilkamal-vaden-gaming-chair-black-red' or product.handle contains 'nilkamal-greta-gaming-chair-gery-white' or product.handle contains 'nilkamal-canophy-gaming-chair-black' or product.handle contains 'nilkamal-razos-gaming-chair-brown-beige' or product.handle contains 'nilkamal-athena-gaming-chair-grey-turquoise' or product.handle contains 'nilkamal-marvel-gaming-chair-black-red' or product.handle contains 'nilkamal-bosco-gaming-chair-black-blue' %}
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_1139_2001)">
            <rect x="10" y="8" width="44" height="44" rx="22" fill="#202020" class="gaming__svg"
              shape-rendering="crispEdges" />
            <path
              d="M37.08 34.1365C36.32 34.1365 35.64 34.4378 35.12 34.9096L27.91 30.743C27.96 30.512 28 30.2811 28 30.0402C28 29.7992 27.96 29.5683 27.91 29.3373L34.96 25.2108C35.5 25.7129 36.21 26.0241 37 26.0241C38.66 26.0241 40 24.6787 40 23.012C40 21.3454 38.66 20 37 20C35.34 20 34 21.3454 34 23.012C34 23.253 34.04 23.4839 34.09 23.7149L27.04 27.8414C26.5 27.3394 25.79 27.0281 25 27.0281C23.34 27.0281 22 28.3735 22 30.0402C22 31.7068 23.34 33.0522 25 33.0522C25.79 33.0522 26.5 32.741 27.04 32.239L34.24 36.4157C34.19 36.6265 34.16 36.8474 34.16 37.0683C34.16 38.6847 35.47 40 37.08 40C38.69 40 40 38.6847 40 37.0683C40 35.4518 38.69 34.1365 37.08 34.1365Z"
              fill="#0093DD" />
          </g>
          <defs>
            <filter id="filter0_d_1139_2001" x="0" y="0" width="64" height="64" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="2" />
              <feGaussianBlur stdDeviation="5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.576471 0 0 0 0 0.866667 0 0 0 0.2 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1139_2001" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1139_2001" result="shape" />
            </filter>
          </defs>
        </svg>
        {% else %}
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_1139_2001)">
            <rect x="10" y="8" width="44" height="44" rx="22" fill="#F7FCFF" shape-rendering="crispEdges" />
            <path
              d="M37.08 34.1365C36.32 34.1365 35.64 34.4378 35.12 34.9096L27.91 30.743C27.96 30.512 28 30.2811 28 30.0402C28 29.7992 27.96 29.5683 27.91 29.3373L34.96 25.2108C35.5 25.7129 36.21 26.0241 37 26.0241C38.66 26.0241 40 24.6787 40 23.012C40 21.3454 38.66 20 37 20C35.34 20 34 21.3454 34 23.012C34 23.253 34.04 23.4839 34.09 23.7149L27.04 27.8414C26.5 27.3394 25.79 27.0281 25 27.0281C23.34 27.0281 22 28.3735 22 30.0402C22 31.7068 23.34 33.0522 25 33.0522C25.79 33.0522 26.5 32.741 27.04 32.239L34.24 36.4157C34.19 36.6265 34.16 36.8474 34.16 37.0683C34.16 38.6847 35.47 40 37.08 40C38.69 40 40 38.6847 40 37.0683C40 35.4518 38.69 34.1365 37.08 34.1365Z"
              fill="#0093DD" />
          </g>
          <defs>
            <filter id="filter0_d_1139_2001" x="0" y="0" width="64" height="64" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="2" />
              <feGaussianBlur stdDeviation="5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.576471 0 0 0 0 0.866667 0 0 0 0.2 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1139_2001" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1139_2001" result="shape" />
            </filter>
          </defs>
        </svg>
        {% endif %}
        {% comment %} <span class="sharing-label">{{ 'general.social.share_heading' | t }}</span>{% endcomment %}
        <ul class="sharing-list" style="display:none;">
          <li class="facebook">
            <span aria-hidden="true">{% render 'svg-facebook' %}</span>
            {% comment %} <span
              class="visually-hidden">{{ 'general.social.share_on_facebook' | t }}</span>{% endcomment %}

          </li>
          <li class="twitter">
            <span aria-hidden="true">{% render 'svg-twitter' %}</span>
            {% comment %}<span
              class="visually-hidden">{{ 'general.social.share_on_twitter' | t }}</span>{% endcomment %}

          </li>
          <li class="whatta">
            <span aria-hidden="true">{% render 'whatapps' %}</span>
            {%comment %} <span
              class="visually-hidden">{{ 'general.social.share_on_pinterest' | t }}</span>{% endcomment %}

          </li>
        </ul>
</div>
</li>
