<div class="vertical-menu">
  {% for link in linklists[vertical-menu].links %}
  {% if linklists[link.handle] == empty %}
  <li><a href="{{ link.url }}" class="top_link {% if link.active %}active{% endif %}"
      data-dropdown-rel="{{ link.handle }}">{{ link.title }}</a></li>
  {% else %}
  <li class="sublink"><a data-no-instant href="{{ link.url }}"
      class="dropdown_link--vertical {% if link.active %}active{% endif %}" data-dropdown-rel="{{ link.handle }}"
      data-click-count="0">{{ link.title }} <span class="icon-down-arrow"></span></a>
    <ul class="vertical-menu_submenu newvermenu">
      {% for link in linklists[link.handle].links %}
      {% if linklists[link.handle] == empty %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% else %}
      <li class="sublink newvermenu-sublink"><a data-no-instant href="{{ link.url }}"
          data-click-count="0">{{ link.title }} <span class="right icon-down-arrow"></span></a>
        <ul class="vertical-menu_sub-submenu">
          {% for link in linklists[link.handle].links %}
          {% if linklists[link.handle] == empty %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% else %}
          <li class="sublink"><a data-no-instant href="{{ link.url }}" data-click-count="0"
              class="lioneactivea">{{ link.title }} <span class="right icon-down-arrow"></span></a>
            <ul class="vertical-menu_sub-submenu">
              {% for link in linklists[link.handle].links %}
              {% if linklists[link.handle] == empty %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% else %}
              <li class="sublink"><a data-no-instant href="{{ link.url }}" data-click-count="0"
                  class="litwoactivea">{{ link.title }} <span class="right icon-down-arrow"></span></a>
                <ul class="vertical-menu_sub-submenu">
                  {% for link in linklists[link.handle].links %}
                  {% if linklists[link.handle] == empty %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% else %}
                  <li class="sublink"><a data-no-instant href="{{ link.url }}" data-click-count="0"
                      class="lithreeactivea">{{ link.title }} <span class="right icon-down-arrow"></span></a>
                    <ul class="vertical-menu_sub-submenu">
                      {% for link in linklists[link.handle].links %}
                      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% endfor %}




          <div class="headerHover__col headerHover__cat-banner">
            <div class="headerHover__brands_banner">
            </div>

            <div class="headerHover__brands-wrap">
              <div class="headerHover__brands-wrap_container">
                <p class="font-ham headerHover__brands-ttl" style="align-items: center;">
                  <img style="    padding-left: 2px; padding-right: 17px; padding-top: 17px; padding-bottom: 17px;"
                    src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/headerLogoSVG.svg?v=1666060471">
                  <span style="margin-top: 5px;">Explore Popular Categories</span>
                </p>
                <ul class="headerHover__brands-list">
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/queen-size-beds">Queen Size Beds</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/king-size-beds">King Size Beds</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/coffee-tables">Coffee Tables</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/dining-sets">Dining Sets</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/recliners"> Recliners</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/sofa-cum-beds">Sofa cum Beds</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/plastic-cabinets">Cabinets</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/book-cases-shelves">Book Shelves</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/entertainment-units">TV Unit</a>
                  </li>
                  <li>
                    <a href="https://www.nilkamalfurniture.com/collections/wardrobes">Wardrobes</a>
                  </li>
                  <li> <a href="https://www.nilkamalfurniture.com/collections/outdoor-furniture">Outdoor Furniture</a>
                  </li>
                  <li> <a href="https://www.nilkamalfurniture.com/collections/mattress">Mattresses</a> </li>
                  <li> <a href="https://www.nilkamalfurniture.com/collections/study-tables">Study Tables</a> </li>
                  <li><a href="https://www.nilkamalfurniture.com/collections/dining-room">Dining Room Furniture</a></li>
                  <li><a href="https://www.nilkamalfurniture.com/collections/office-furniture">Office Furniture</a></li>
                  <li><a href="https://www.nilkamalfurniture.com/collections/bedroom-furniture">Bed Room Furniture</a>
                  </li>
                  <li><a href="https://www.nilkamalfurniture.com/collections/dining-tables">Dining Table Beds</a></li>
                  <li><a href="https://www.nilkamalfurniture.com/collections/sofa-1">Sofas</a></li>
                </ul>
              </div>
            </div>

          </div>
        </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>








  </li>
  {% endif %}
  {% endfor %}


 <li class="custom__gamig sublink">
    <a href="https://www.nilkamalfurniture.com/collections/fyrebird-gaming-chairs">Gaming Chair</a>
  </li>
</div>

<div class="megamenu_panel clearfix" id="meta-furniture" style="">
  <div id="megamenu" class="megamenus">
  </div>
</div>


<script>
  $('.vertical-menu .vertical-menu_submenu .vertical-menu_sub-submenu').each(function (i) {
    $(this).attr('id', 'custom_ulactive' + (i + 1));
  });

  $('.vertical-menu .vertical-menu_submenu.newvermenu li a').each(function (i) {
    $(this).attr('id', 'custom_liactive' + (i + 1));
  });

  $('.vertical-menu .vertical-menu_submenu.newvermenu li a').each(function (i) {
    $(this).attr('id', 'custom_liactive' + (i + 1));
  });

  $(document).ready(function () {
    $('.vertical-menu_sub-submenu li a').hover(function () {
      $(this).css("color", "#000");
    }, function () {
      $(this).css("color", "#4d4d4d");
    });

    $('.vertical-menu li:first').addClass('firstliclass');

  });

  //$(".menu .vertical-menu li").hover.each(function (i) {
  //$("#custom_ulactive"+(i+1)).css('visibility','visible');
  //});

</script>
