<a name="pagecontent" id="pagecontent"></a>
<!-- <img class="customer-login-bg" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/sign-in-bg.jpg?v=1577978197" alt="" /> -->
<div class="container">
  <div class="wrapper">
    <div class="login-box animated fadeInUp">
      <div class="collection_nav center clearfix">
        <h1>{{ 'customer.login.title' | t }}</h1>
      </div>
      <div class="clearfix" id="customer">
        <div id="login_form">
          {% form 'customer_login' %}
          {{ form.errors | default_errors }}

		  <!-- <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label> -->
          <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" placeholder="Email address" autocorrect="off" autocapitalize="off" tabindex="1" />

          {% if form.password_needed %}

          {% comment %}
          Customer Account Login
          {% endcomment %}

		  <!-- <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label> -->
          <input type="password" value="" name="customer[password]" id="customer_password" class="large password" placeholder="Password" size="16" tabindex="2" />

          <p class="center"><a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a></p>
          
          {% endif %}

          <input class="btn action_button reverse" type="submit" value="{{ 'customer.login.sign_in' | t }}" style="margin-bottom: 5px !important" tabindex="3" />
			
          {% comment %}
          {% unless shop.checkout.guest_login %}
          <p class="right" style="padding-top: 10px;">
            {{ 'customer.login.new_customer_label' | t }} {{ 'customer.login.sign_up_html' | t | customer_register_link }}
          </p>
          {% endunless %}
          {% endcomment %}
          
          {% endform %}
          <div class="large--right">
            {% if shop.checkout.guest_login %}
            <span class="or"> {{ 'customer.login.or' | t }} </span>
            {% form 'guest_login' %}
            <input class="guest_button" type="submit" value="{{ 'customer.login.guest_title_html' | t }}" />
            {% endform %}
            {% endif %}
          </div>
        </div>

        <div id="recover-password" style='display:none'>
          <div class="animated fadeInUp">

            <!-- <h4 class="center">{{ 'customer.recover_password.title' | t }}</h4> -->

            {% form 'recover_customer_password' %}
            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
            {% assign reset_success = true %}
            {% endif %}

            {% if reset_success %}
            <p class="center">
              <span class="note">{{ 'customer.recover_password.success' | t }}</span>
            </p>
            {% else %}
            <div id="recover_email" class="clearfix large_form">
              <!-- <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label> -->
              <input type="email" value="" size="30" name="email" id="recover-email" class="large" placeholder="Email address" autocorrect="off" autocapitalize="off" />
            </div>
            <p class="center">
              <span class="note">{{ 'customer.recover_password.subtext' | t }}</span>
            </p>
            <div class="action_bottom center">
              <input class="btn action_button reverse" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
              <span class="note">{{ 'customer.recover_password.or' | t }} <a href="#" onclick="hideRecoverPasswordForm()">{{ 'customer.recover_password.cancel' | t }}</a></span>
            </div>
            {% endif %}

            {% endform %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="register-box animated fadeInUp">
      <div class="collection_nav center clearfix">
        <h1>{{ 'customer.register.title' | t }}</h1>
      </div>
      <div class="clearfix" id="customer">
        <!-- Create Customer -->
        <div id="create-customer">

          {% form 'create_customer' %}
          {{ form.errors | default_errors }}

          <div id="first_name" class="clearfix large_form">
            <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" placeholder="First name(*)" required/>
          </div>

          <div id="last_name" class="clearfix large_form">
            <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" placeholder="Last name(*)" required/>
          </div>

          <div id="mobile_no" class="clearfix large_form">
            <input type="number" value="" name="customer[mobile_no]" id="mobile_no" class="large" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" size="30" placeholder="Mobile(*)" required/>
          </div>
          
          <div id="email" class="clearfix large_form">
            <input type="email" value="" name="customer[email]" id="email" class="large" size="30" placeholder="Email id(*)" required />
          </div>

          <div id="password" class="clearfix large_form">
            <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" placeholder="Password(*)" required/>
          </div>

          {% if section.settings.text %}
          {{ section.settings.text }}
          {% endif %}

          {% comment %}
          <div class="acceptsMarketing">
            <input type="checkbox" id="customer[accepts_marketing]" name="customer[accepts_marketing]">
            <label for="customer[accepts_marketing]">{{ 'customer.register.accepts_marketing' | t }}</label>
          </div>
          {% endcomment %}

          <div class="action_bottom center">
            <input class="btn action_button reverse" type="submit" value="{{ 'customer.register.sign_up' | t }}" />
            <!-- <p class="right" style="padding-top: 8px;">
              {{ 'customer.register.returning_customer_label' | t }} {{ 'customer.register.sign_in_html' | t | customer_login_link }}
            </p> -->
          </div>

          {% endform %}
        </div><!-- /#create-customer -->
      </div>
    </div>
    
  </div>
</div>
<br class="clear" />
<br class="clear" />


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login_form').style.display='none';
    
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login_form').style.display = 'block';
    return false;
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    showRecoverPasswordForm();
  {% endif %}
  
  var numberTypeInputs = document.querySelectorAll("input[type=number]");
		for(var i = 0; i < numberTypeInputs.length; i++) {
			val = numberTypeInputs[i].value;
			var elemLabel = numberTypeInputs[i].getAttribute("label");
			if(val != "") {
				var intRegex = /^[+-]?\d+$/;
				if(!intRegex.test(val)) {
					alert("For " + elemLabel + " field please enter valid number");
					document.getElementById("vtigerFormSubmitBtn_6").disabled = false;
					return false;
				}
			}
		}
</script>
<script>    
   $(document).ready(function() {  
      $("#mobile_no").attr("autocomplete", "off");
      $('#mobile_no').attr('autofill', 'off');
      $("#mobile_no").attr("autocomplete", "none");
     
});


 </script>
 <script type="text/javascript">
 function showRecoverPasswordForm() {
   document.getElementById('recover-password').style.display = 'block';
   document.getElementById('login_form').style.display = 'none';
 }

 function hideRecoverPasswordForm() {
   document.getElementById('recover-password').style.display = 'none';
   document.getElementById('login_form').style.display = 'block';
 }

 function showRecoverSuccess() {
   document.getElementById('account-reset').style.display = 'block';
 }

 if (window.location.hash == '#recover') { showRecoverPasswordForm() }

 if (window.location.hash == '#recover-successful') { showRecoverSuccess() }
</script>