<div class="customer--wrapper order_custom_wrapper">
  {% comment%} <div class="account--breadcrumb-container">
    {% render 'breadcrumbs' %}
  </div>{% endcomment%}
  <p class="all_orders"><a href="/account/"><img
        src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Layer-58.png?v=1655733764" alt=""> All Orders</a>
  </p>
  <h1 class="orderid_head" data-item="section-heading">
    ORDER #{{ order.order_number }}

    {% comment %} <span class="note order_date">
      &mdash; {{ order.created_at | time_tag: format: 'date' }}
    </span>{% endcomment%}
  </h1>



  {% if order.cancelled %}
  <div id="order_cancelled" class="flash notice">
    <h5 id="order_cancelled_title">Order Cancelled On
      <span class="note">{{ order.cancelled_at | time_tag: format: 'date' }}</span>
    </h5>
    <span class="note__cs">{{ order.cancel_reason }}</span>
  </div>
  {% endif %}

  {%comment%}<div id="order_payment" class="columns">
    <h2 data-item="block-heading">
      {{ 'customer.order.billing_address' | t }}
    </h2>

    <p><span class="note">{{ 'customer.order.payment_status' | t }}:</span>
      <span class="status_{{ order.financial_status }}">
        {%- liquid
        assign trans_paid  = 'customer.order.paid' | t
        assign trans_pending = 'customer.order.pending' | t
        assign trans_authorized = 'customer.order.authorized' | t
        assign trans_abandoned = 'customer.order.abandoned' | t
        assign trans_refunded = 'customer.order.refunded' | t
        assign trans_voided = 'customer.order.voided' | t
        -%}
        <em>
          {{
            order.financial_status | replace: 'paid',
            trans_paid | replace: 'pending',
            trans_pending | replace: 'authorized',
            trans_authorized | replace: 'abandoned',
            trans_abandoned | replace: 'refunded',
            trans_refunded | replace: 'voided',
            trans_voided
          }}
        </em></span>
    </p>

    <div class="address--view" date-item="paragraph">
      <p>{{ order.billing_address.name }}</p>
      <p>{{ order.billing_address.company }}</p>
      <p>{{ order.billing_address.street }}</p>
      <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
      <p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
      <p>{{ order.billing_address.phone }}</p>
    </div>
  </div>{%endcomment%}

  <div class="order__details__container">

    <div class="order__header">
      <div class="order__item order__product-details">{{ 'Product Details' }}</div>
      <div class="order__item order__sku">{{ 'customer.order.sku' | t }}</div>
      <div class="order__item order__price">{{ 'customer.order.price' | t }}</div>
      <div class="order__item order__quantity">{{ 'customer.order.quantity' | t }}</div>
      <div class="order__item order__total">{{ 'customer.order.total' | t }}</div>
    </div>
  
    <div class="order__items">
      {% for line_item in order.line_items %}
      <div class="order__item" id="{{ line_item.id }}">
        <div class="order__image">
          <img src="{{ line_item | img_url: 'compact_cropped' }}" class="order__product-image" />
          <p>{{ line_item.title | link_to: line_item.product.url }}</p>
        </div>
  
        <div class="order__item__details">
          <div class="order__sku">{{ line_item.sku }}</div>
  
          <div class="order__price">
            {% if line_item.original_line_price > line_item.final_line_price %}
            <s class="money">{{ line_item.original_price | money }}</s>
            {% endif %}
            <div class="money">{{ line_item.final_price | money_without_currency }}</div>
            <div class="order__item__unit-price-container">
              {% if line_item.unit_price_measurement %}
              {{ line_item.unit_price | money }}/ {% if line_item.unit_price_measurement.reference_value != 1 %}{{ line_item.unit_price_measurement.reference_value }}{% endif %}{{ line_item.unit_price_measurement.reference_unit }}
              {% endif %}
            </div>
            {% if line_item.line_level_discount_allocations.size > 0 %}
            <div>
              {% for discount_allocation in line_item.line_level_discount_allocations %}
              {{ discount_allocation.discount_application.title }} (-<span class="money">{{ discount_allocation.amount | money }}</span>)
              {% endfor %}
            </div>
            {% endif %}
          </div>
  
          <div class="order__quantity">{{ line_item.quantity }}</div>
  
          <div class="order__total">
            {% if line_item.original_line_price > line_item.final_line_price %}
            <s class="money">{{ line_item.original_line_price | money }}</s>
            {% endif %}
            <div class="money">{{ line_item.quantity | times: line_item.final_price | money_without_currency }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
    {% comment %}
    Additional divs for summary, discounts, shipping, taxes, and total can be added here.
    {% endcomment %}
  
  </div>
  

  <div class="table__parent">
  <table id="order_details" class="order--table order__table_details responsive order__table__responsive">
    <thead>
      <tr data-item="accent-text">
        <th class="order_item">Payment Status</th>
        <th class="order_item">Fulfill Status</th>
        <th class="order_item">Order Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="order_paid order_info ">
          {{ order.financial_status }}</td>
        <td class="order_info  order__fulfillment">
          {{ order.fulfillment_status }}
        </td>
        {{ order.item_image }}
        <td class="order_info order_information">
          <div class="subtotal_item"><span class="order_item_count">Subtotal ({{ order.item_count }} item)</span><span
              class="line_subtotal_price">{{ order.line_items_subtotal_price | money_without_currency }}</span></div>
          {% for shipping_method in order.shipping_methods %}
          <div class="order_total_money">
            <span class="shipping_charge">{% comment%}{{ shipping_method.title }}:{%endcomment%} Shipping Charge
            </span>
            <span class="order--item--total" data-item="accent-text">
              {{ shipping_method.price | money_without_currency }}
            </span>
          </div>
          {% endfor %}
          {% for discount in order.discounts %}
          <div class="order_total_money dcodeparent">
          <span class="shipping_charge">{% comment%}{{ shipping_method.title }}:{%endcomment%} Coupon Name
          </span>
          <span class="dcode" data-item="accent-text">
            {{ discount.code }}
          </span>
        </div>
          <div class="order_total_money dcodeparent">
          <span class="shipping_charge">{% comment%}{{ shipping_method.title }}:{%endcomment%} Coupon Discount
          </span>
          <span class="order--item--total dcode" data-item="accent-text">
            {{ discount.savings | money }}
          </span>
        </div>
        {% endfor %}
        {% for tax_line in order.tax_lines %}
        <div class="order_total_money dcodeparent">
          <span class="shipping_charge">
            {{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
          </span>
          <span class="order--item--total dcode" data-item="accent-text">
            {{ tax_line.price | money }}
          </span>
        </div>
      {% endfor %}
      <div class="order_total_money dcodeparent">
          <span class="shipping_charge">
            {{ 'customer.order.total' | t }}
          </span>
          <span class="order--item--total dcode" data-item="accent-text">
            {{ order.total_price | money }}
          </span>
        </div>

          {% comment %}{% for tax_line in order.tax_lines %}
          <div class="tex">
            <span>{{ tax_line.title }} {{ tax_line.rate | times: 100 }}%:</span>
            <span class="order--item--total money" data-item="accent-text">
              {{ tax_line.price | money }}
            </span>
          </div>
          {% endfor %}{% endcomment%}
          {%- comment -%}
          <div class="customer_total_currency">
            <span class="customer_total_order">{{ 'customer.order.total' | t }}</span>
            <span class="order--item--total money " data-item="accent-text">
              {{ order.total_price | money }} {{ order.currency }}
            </span>
          </div>
          {%- endcomment -%}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="table__parent">
  <table id="order_details" class="order--table order__table_details order__table__responsive">
    <thead>
      <tr data-item="accent-text">
        <th>Billing Address</th>
        <th>Shipping Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="order_paid order_info ">
          <div id="order_shipping" class="columns">
            <div class="address--view">
              <p class="shipping_order_name">{{ order.billing_address.name }}</p>
              {% if order.billing_address.company != '' %}
               <p>{{ order.billing_address.company }}</p> 
              {% endif %}
              <p class="shipping_order_address">{{ order.billing_address.street }}
                {{ order.billing_address.city }}, {{ order.billing_address.province }}
                <!-- {{ order.shipping_address.country }} -->
                - {{ order.billing_address.zip }}
              </p>
              {%comment%} <p>{{ order.shipping_address.phone }}</p>{% endcomment%}
            </div>
          </div>
        </td>
        <td class="order_info  order__fulfillment">
          {% if order.shipping_address %}
      <div id="order_shipping" class="columns">
        <div class="address--view">
          <p class="shipping_order_name">{{ order.shipping_address.name }}</p>
          {% if order.shipping_address.company != '' %}
               <p>{{ order.shipping_address.company }}</p> 
              {% endif %}
          <p class="shipping_order_address">{{ order.shipping_address.street }}
            {{ order.shipping_address.city }}, {{ order.shipping_address.province }}
            <!-- {{ order.shipping_address.country }} -->
            - {{ order.shipping_address.zip }}
          </p>
          {%comment%} <p>{{ order.shipping_address.phone }}</p>{% endcomment%}
        </div>
      </div>
      {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  


</div>
</div>
{% assign images = order.product.media | where: "media_type", "image" %}
{% for image in images %}
<p>{{ image.alt }}</p>
{% endfor %}




<script>
//$(document).ready(function () {
//  $('.order-image, .order--item--title').wrapAll('<span class="order_img_item">');
//});
</script>

{% if first_time_accessed %}
<!-- Event snippet for DD-Purchase-Apr21 conversion page -->
<script>
gtag('event', 'conversion', {
    'send_to': 'AW-683569280/urbjCLeYr4ACEIDh-cUC',
    'value': 1.0,
    'currency': 'INR',
    'transaction_id': ''{{ cart.attributes.transaction_id }}''
});
console.log("retag");
console.log("retag",{{ cart }});
</script>
{% endif %}