{% assign endDate = section.settings.end_date %}
{% assign desktopImg = section.settings.desktop_img %}
{% assign mobileImg = section.settings.mobile_img %}
{% assign textColor = section.settings.font_color_seconds %}
{% assign textHorizontaldesk = section.settings.text_Horizontal_desktop %}
{% assign textVerticaldesk = section.settings.text_Vertical_desktop %}
{% assign textHorizontalmob = section.settings.text_Horizontal_mobile %}
{% assign textVerticalmob = section.settings.text_Vertical_mobile %}
{% assign textTimeupColor = section.settings.font_color_time_up %}

{% if endDate != blank %}
<style>
  .ten-days {
    margin-top: 20px;
    max-width: 100%;
    border: 0px solid grey;
    /*padding: 15px;*/
  }

  .container.ten-days-section {
    max-width: 1400px;
  }

  #clockdiv {
    position: absolute;
    top: {{textVerticaldesk}}em;
    right: {{textHorizontaldesk}}em;
    display: flex;
    font-weight: 600;
    text-align: center;
    font-size: 21px;
    background-color: transparent;
    margin: auto;
    padding: 0px !important;
  }


  #clockdiv span {
    color: {{textColor}};
    line-height: 24px;
  }

  p#demo {
    color: {{textTimeupColor}} !important;
  }

  #clockdiv>div {
    display: inline-block;
    margin: 5px;
  }

  .visible-desktop-tendeals {
    display: block !important;
  }

  .visible-mobile-tendeals {
    display: none !important;
  }

  p#demo {
    width: 100%;
    text-align: center !important;
    padding-top: 7px;
  }

  div#shopify-section-5194def5-441f-4277-bf38-b7ba21e39b38 .container.ten-days-section {
    min-height: auto !important;
  }

  @media only screen and (max-width: 767px) {
    #clockdiv {
    top: {{textVerticalmob}}vh;
    right: {{textHorizontalmob}}em;
  }

    .visible-desktop-tendeals {
      display: none !important;
    }

    .visible-mobile-tendeals {
      display: block !important;
    }

    #clockdiv>div,
    #clockdiv>span {
      display: inline-block;
      margin: 5px;
      line-height: 6px !important;
    }

    #clockdiv span {
      color: {{textColor}};
      }

    #clockdiv {
      font-family: sans-serif;
      color: {{textColor}};
      position: absolute;
      font-weight: bold;
      text-align: center;
      font-size: 14px;
      background-color: transparent;
      margin: 0;
      padding: 0;
      height: 3em;
      width: 71%;
      display: flex;
      justify-content: space-evenly;
    }

    .ten-days {
      margin-top: 20px;
      border: 0px solid grey;
      /* padding: 10px; */
    }

    .demo_timeup {
      width: auto !important;
    }
  }

  #clockdiv>div,
  #clockdiv>span {
    display: inline-block;
    margin: 5px;
    line-height: 15px;
  }

  #clockdiv>p {

    font-weight: bolder;
    font-size: 23px;
    margin-bottom: 30px;
  }

  #clockdiv div>span {
    display: inline-block;

  }

  .container.ten-days-section {
    position: relative;
    margin-bottom: 20px;
  }

  .demo_timeup {
    width: 400px;
  }
</style>

<div class="container ten-days-section">
  <img class="ten-days visible-desktop-tendeals lazyload" data-sizes="auto" data-src="{{ desktopImg | image_url}}"
    alt="ten days">
  <img class="ten-days visible-mobile-tendeals lazyload" data-sizes="auto" data-src="{{ mobileImg | image_url }}"
    alt="ten days">
  <div id="clockdiv" style="color: {{ textColor }};">

    <div>
      <span class="days" id="day">00</span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours" id="hour">00</span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes" id="minute">00</span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds" id="second">00</span>
      <div class="smalltext">Seconds</div>
    </div>
    <p id="demo"></p>
  </div>
</div>

<script>
  var endDateString = "{{ endDate }}";
  var endDateParts = endDateString.split(/[\s,:]+/); // Split date string into parts
  var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  var monthIndex = monthNames.indexOf(endDateParts[0]);
  var deadline = new Date(endDateParts[2], monthIndex, endDateParts[1], endDateParts[3], endDateParts[4], endDateParts[5]).getTime();

  var x = setInterval(function () {
    var now = new Date().getTime();
    var t = deadline - now;
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((t % (1000 * 60)) / 1000);

    // Update displayed values
    document.getElementById("day").innerHTML = days;
    document.getElementById("hour").innerHTML = hours;
    document.getElementById("minute").innerHTML = minutes;
    document.getElementById("second").innerHTML = seconds;

    // Check and hide elements only if the corresponding time value is zero
    document.getElementById("day").parentNode.style.display = (days === 0) ? 'none' : 'block';
    document.getElementById("hour").parentNode.style.display = (hours === 0 && days === 0) ? 'none' : 'block';
    document.getElementById("minute").parentNode.style.display = (minutes === 0 && hours === 0 && days === 0) ? 'none' : 'block';
    document.getElementById("second").parentNode.style.display = (seconds === 0 && minutes === 0 && hours === 0 && days === 0) ? 'none' : 'block';

    if (t < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "TIME UP";
      // Set all elements to zero and hide corresponding divs
      document.getElementById("day").innerHTML = '0';
      document.getElementById("hour").innerHTML = '0';
      document.getElementById("minute").innerHTML = '0';
      document.getElementById("second").innerHTML = '0';
      document.getElementById("day").parentNode.style.display = 'none';
      document.getElementById("hour").parentNode.style.display = 'none';
      document.getElementById("minute").parentNode.style.display = 'none';
      document.getElementById("second").parentNode.style.display = 'none';
    }
  }, 1000);
</script>



{% endif %}

{% schema %}
  {
    "name": "Timer",
    "settings": [
      {
        "id": "desktop_img",
        "label": "Desktop Image",
        "type": "image_picker"
      },
      {
        "id": "mobile_img",
        "label": "Mobile Image",
        "type": "image_picker"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "end_date",
        "label": "End Date",
        "default": "Apr 15, 2023 12:00:00",
        "info": "e.g. Apr 15, 2023 12:00:00"
      },
      {
        "type": "color",
        "id": "font_color_seconds",
        "label": "Seconds Font Color",
        "default": "#000000",
        "info": "Choose the font color for the seconds element."
      },
      {
        "type": "range",
        "label": "Text Horizontal Align (Desktop)",
        "id": "text_Horizontal_desktop",
        "min": 0,
        "max": 20,
        "step": 0.5,
        "default": 15,
        "unit": "em"
      },
      {
        "type": "range",
        "label": "Text Vertical Align (Desktop)",
        "id": "text_Vertical_desktop",
        "min": 0,
        "max": 20,
        "step": 0.5,
        "default": 15,
        "unit": "em"
      },
      {
        "type": "range",
        "label": "Text Horizontal Align (Mobile)",
        "id": "text_Horizontal_mobile",
        "min": 0,
        "max": 20,
        "step": 0.5,
        "default": 15,
        "unit": "em"
      },
      {
        "type": "range",
        "label": "Text Vertical Align (Mobile)",
        "id": "text_Vertical_mobile",
        "min": 0,
        "max": 20,
        "step": 0.5,
        "default": 15,
        "unit": "vh"
      },
      {
        "type": "color",
        "id": "font_color_time_up",
        "label": "Timer Up Font Color",
        "default": "#000000",
        "info": "Choose the font color for time up."
      }
    ],
    "presets": [
      {
        "name": "Countdown"
      }
    ],
    "blocks": []
  }
  {% endschema %}
  