<style>
  .popup_open {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  /* Popup button styles */
  .open-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  /* The popup form - hidden by default */
  .login-popup {
    display: none;
    position: fixed;
    z-index: 9999 !important;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* The popup content container */
  .login-popup-content {
    background-color: #fefefe;
    margin: 5% auto 15%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  }

  /* The popup header */
  .login-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Close icon */
  .close-icon {
    width: 24px;
    height: 24px;
    fill: #999;
    cursor: pointer;
  }

  /* Full-width login button */
  .login-form .login-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }

  /* Floating label styles */
  .floating-label {
    position: relative;
    margin-top: 20px;
  }

  .floating-label label {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s ease-out;
    pointer-events: none;
  }

  .floating-label input {
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
  }

  .floating-label input:focus {
    outline: none;
    border-bottom: 2px solid #4CAF50;
  }

  .floating-label input:focus + label,
  .floating-label input:not(:placeholder-shown) + label {
    top: -18px;
    font-size: 14px;
    color: #4CAF50;
  }

  .login-popup .login-popup-header {
    display: block;
  }

  .login-popup .customer--root .customer--wrapper {
    height: fit-content;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .login-popup .login_full {
    padding: 0;
  }

  .login-popup .login_wrap_new {
    width: 100%;
    padding: 0;
  }

  .loginpopup__remember {
    font-family: League Spartan, sans-serif !important;
  }

  .or__login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  .left-line,
  .right-line {
    height: 3px;
    background-color: #d1d1d1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
  }

  .left-line {
    left: 0;
  }

  .right-line {
    right: 0;
  }

  .text {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    color: #303030;
    background-color: #fff;
    font-size: 20px;
  }

  .login-popup .signup_sec {
    padding: 0 !important;
    margin: 30px auto !important;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
    position: absolute;
    bottom: -10px;
    width: 100%;
    left: 0;
  }

  .login-popup .h_buttons {
    margin-bottom: 40px;
  }

  .close__popup {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media(max-width:1024px) {
    .login-popup .signup_sec {
      display: none;
    }

    /* .login-popup{
    bottom: 0;
    left: 0;
    }

    .login-popup-content {
        position: relative;
    bottom: auto;
    margin-bottom: 0;
    transform: translateY(100%);
    height: fit-content;
    left: 0;
    width: 100vw;
} */


    .login-popup {
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .login-popup-content {
      margin: 0 auto;
      position: fixed;
      top: auto;
      bottom: 0;
      transform: translate(-50%, 0);
      width: 100vw;
    }

    .login-popup .collection_nav.center.clearfix{
      display: block;
    }
  }

  .button__for__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button__for__wrapper .btn.action_button{
    margin: 0px;
  }

  .login-popup .action_bottom.center{
    margin-top: 15px;
  }
</style>

<!-- <button class="open-button" onclick="openForm()">Login</button> -->

<div class="login-popup" id="myForm">
  <div class="login-popup-content">
    <div class="login-box">
      <div class="collection_nav center clearfix">
        <h1>{{ 'customer.login.title' | t }}</h1>
      </div>
      <div class="close__popup">
              <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M18.36 5.64l-1.41-1.41L12 10.59 7.05 5.64 5.64 7.05 10.59 12l-4.95 4.95 1.41 1.41L12 13.41l4.95 4.95 1.41-1.41L13.41 12z"></path>
              </svg>
      </div>
      <div class="clearfix" id="customer">
        <div id="login_form">
          {% form 'customer_login' %}
            <input
              type="hidden"
              name="checkout_url"
              value="/pages/warranty-registration">
            {{ form.errors | default_errors }}

            <!-- <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label> -->
            <input
              type="email"
              value=""
              name="customer[email]"
              id="customer_email"
              class="large"
              size="30"
              placeholder="Email address"
              autocorrect="off"
              autocapitalize="off"
              tabindex="1"
              pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/"
              required />

            {% if form.password_needed %}

              {% comment %}
              Customer Account Login
              {% endcomment %}

              <!-- <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label> -->
              <input
                type="password"
                value=""
                name="customer[password]"
                id="customer_password"
                class="large password"
                placeholder="Password"
                size="16"
                tabindex="2" />

            {% endif %}
           <div class="button__for__wrapper">
          <input class="btn action_button reverse"
            type="submit"
            value="{{ 'customer.login.sign_in' | t }}"
            style="margin-bottom: 5px !important"
            tabindex="3" />
            <p class="center" style="padding-bottom:10px;">
              <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
            </p>
           </div>

          {% comment %}
          {% unless shop.checkout.guest_login %}
          <p class="right" style="padding-top: 10px;">
          {{ 'customer.login.new_customer_label' | t }} {{ 'customer.login.sign_up_html' | t | customer_register_link }}
          </p>
          {% endunless %}
          {% endcomment %}

          {% endform %}
          <div class="large--right">
            {% if shop.checkout.guest_login %}
              <span class="or">
                {{ 'customer.login.or' | t }}
              </span>
              {% form 'guest_login' %}
                <input
                  class="guest_button"
                  type="submit"
                  value="{{ 'customer.login.guest_title_html' | t }}" />
              {% endform %}
            {% endif %}
          </div>
        </div>

        <div id="recover-password" style='display:none'>
          <div class="animated fadeInUp">

            <!-- <h4 class="center">{{ 'customer.recover_password.title' | t }}</h4> -->

            {% form 'recover_customer_password' %}
              {{ form.errors | default_errors }}

              {% if form.posted_successfully? %}
                {% assign reset_success = true %}
              {% endif %}

              {% if reset_success %}
                <p class="center">
                  <span class="note">{{ 'customer.recover_password.success' | t }}</span>
                </p>
              {% else %}
                <div id="recover_email" class="clearfix large_form">
                  <!-- <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label> -->
                  <input
                    type="email"
                    value=""
                    size="30"
                    name="email"
                    id="recover-email"
                    class="large"
                    placeholder="Email address"
                    autocorrect="off"
                    autocapitalize="off"
                    pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/"
                    required />
                </div>
                <p class="center">
                  <span class="note">{{ 'customer.recover_password.subtext' | t }}</span>
                </p>
                <div class="action_bottom center">
                  <input
                    class="btn action_button reverse"
                    type="submit"
                    value="{{ 'customer.recover_password.submit' | t }}" />
                  <span class="note">{{ 'customer.recover_password.or' | t }}
                    <a href="#" onclick="hideRecoverPasswordForm()">{{ 'customer.recover_password.cancel' | t }}</a>
                  </span>
                </div>
              {% endif %}

            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const body = $('body');

/* Open the popup */
  function openLoginForm() {
    document.getElementById("myForm").style.display = "block";
    body.addClass('popup_open');
  }

/* Close the popup */
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
    body.removeClass('popup_open');
  }

/* Close the popup when clicking the cross icon */
  document.querySelector('.close-icon').addEventListener('click', function() {
    closeForm();
  });

/* Close the popup when clicking outside of it */
  window.onclick = function(event) {
    var loginPopup = document.getElementById('myForm');
    if (event.target == loginPopup) {
      closeForm();
    }
  }
</script>
<script>


  $(function() {

    if (localStorage.chkbox && localStorage.chkbox != '') {
      $('#rememberChkBox').attr('checked', 'checked');
      $('#customer_email').val(localStorage.username);
      $('#customer_password').val(localStorage.pass);
    } else { // alert("tes2");
      $('#rememberChkBox').removeAttr('checked');
      $('#customer_email').val('');
      $('#customer_password').val('');
    }

    $('#rememberChkBox').click(function() {

      if ($('#rememberChkBox').is(':checked')) { // save username and password
        localStorage.username = $('#customer_email').val();
        localStorage.pass = $('#customer_password').val();
        localStorage.chkbox = $('#rememberChkBox').val();
      } else {
        localStorage.username = '';
        localStorage.pass = '';
        localStorage.chkbox = '';
      }
    });
  });
</script>

<script type="text/javascript">
  function showRecoverPasswordForm() {
  document.getElementById('recover-password').style.display = 'block';
              document.getElementById('customer_login').style.display = 'none';
          }

          function hideRecoverPasswordForm() {
              document.getElementById('recover-password').style.display = 'none';
              document.getElementById('customer_login').style.display = 'block';
          }

          function showRecoverSuccess() {
              document.getElementById('account-reset').style.display = 'block';
          }

          if (window.location.hash == '#recover') { showRecoverPasswordForm() }

          if (window.location.hash == '#recover-successful') { showRecoverSuccess() }</script>