<style>
  @media only screen and (max-width: 600px) {
    .quick-info_mobile {
      display: block;
    }
    .order-quick-info_mobile {
      display: block;
    }
}
</style>


<a name="pagecontent" id="pagecontent"></a>

<div class="container page-orders">
  <div class="account_top_sec_info">
    <header class="page-header">
      <h1 {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>My Order</h1>
      <h5>{{ customer.name }}</h5>
    </header>
    <div class="log_out_opt">
      {% if customer %}
        <h6>
          <a href="/account/logout">LOGOUT</a>
        </h6>
      {% endif %}
    </div>
  </div>

  <div class="bg-wrapper clearfix">
    {% paginate customer.orders by 20 %}

      <div class="account-tab center">
        <div class="tab-link">
          <a href="/account">PROFILE</a>
          <a class="active" href="javascript:void(0);">ORDERS</a>
        </div>
      </div>

      <div class="section clearfix account-section min-height">
        <main class="account-main">
          <div id="customer_orders">

            {% if customer.orders.size != 0 %}

              <div class="loop-order-info">

                {% for order in customer.orders %}
                  {% for line_item in order.line_items %}
                    <div class="order-quick-info relative order-quick-info_mobile">
                      <div class="quick-info quick-info_mobile">
                        <p class="product-img">
                          <a class="order_img" href="{{ order.customer_url }}"><img src="{{ order.line_items[0] | img_url: 'compact_cropped' }}"></a>
                        </p>

                        <p class="product-id">
                          <b>Order ID {{ order.name | link_to: order.customer_url }}</b><br>
                          <span class="purchase-date">{{ order.created_at | date: format: "month_day_year" }}</span>
                        </p>

                        <p class="order-amount">
                          <b>
                            <span>Payment Status
                            </span>
                          </b><br>
                          <br><span class="payment_status status_{{ order.financial_status }}">
                            {%- liquid
                            assign trans_paid  = 'paid' | capitalize 
                            assign trans_pending = 'pending' | capitalize 
                            assign trans_authorized = 'authorized' | capitalize 
                            assign trans_abandoned = 'abandoned' | capitalize 
                            assign trans_refunded = 'refunded' | capitalize 
                            assign trans_voided = 'voided' | capitalize 
                            -%}
                            {{ order.financial_status | replace: 'paid', trans_paid | replace: 'pending', trans_pending | replace: 'authorized', trans_authorized | replace: 'abandoned', trans_abandoned | replace: 'refunded', trans_refunded | replace: 'voided', trans_voided }}</span>
                        </p>
                        <p class="order-amount">
                          <b>
                            <span>Fulfillment Status</span>
                          </b><br><br>
                          <span class="fulfillment_status status_{{ order.fulfillment_status }}">
                            {% assign trans_fulfilled = 'fulfilled' | capitalize %}
                            {% assign trans_unfulfilled = 'unfulfilled' | capitalize %}
                            {% assign trans_partial = 'unfulfilled' | capitalize %}
                            {{ order.fulfillment_status | replace: 'unfulfilled', trans_unfulfilled | replace: 'fulfilled', trans_fulfilled | replace: 'partial', trans_partial }}</span>
                        </p>
                        <p class="order-amount">
                          <b>
                            <span>Total Amount</span>
                          </b><br><br>{{ order.total_price | money }}</p>
                      </div>
                      <div class="detail-info-button center">
                        <a href="{{ order.customer_url }}" class="action_button">View</a>
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>


            {% else %}
              <p class="center no-order">{{ 'customer.orders.none' | t }}</p>
            {% endif %}
            {% if customer.orders.size > 10 %}
              {% include 'pagination' with true %}
            {% endif %}

          </div>

        </main>
      </div>
    {% endpaginate %}
  </div>

</div>