<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .verify__otp__enter {
    display: none;
  }

/*   .warning {
    border: 1px solid red !important;
  } */

  input#warrantyDop {
    display: inline-block;
    position: relative;
    background: transparent;
    z-index: 1;
  }

  input[type="date"]::before {
    content: attr(value);
    display: inline-block;
    line-height: inherit;
    text-align: inherit;
    vertical-align: middle;
  }

  .heading_text {
    margin-top: 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: #5C6168;
  }

  .form_head_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  p.l_para {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #252525;
  }

  p.log_in_p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #252525;
  }

  .log_in_p a {
    text-decoration-line: underline;
    color: #2BA4DC;
  }

  label.did-floating-label,
  label.did-floating-label-war,
  label.did-floating-select {
    color: #252525;
    font-size: 14px !important;
    font-weight: 400;
    text-transform: capitalize;
  }

  input,
  select {
    border: 1px solid #E0E0E0 !important;
    border-radius: 5px !important;
    padding: 0px 28px !important;
  }

  .warranty_container input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  div#onlinePurchase {
    width: 293px;
  }

  div#warOffline {
    width: 293px;
  }

  .text-danger {
    color: #dc3545;
  }

  .warranty_container {
    width: 950px;
    margin: 0 auto;
    /*     font-family: 'League Spartan'; */
  }

  span.d_flex.heading_div.warranty_head {
    text-align: left;
    width: 100%;
    align-items: flex-start;
    padding: 30px 0 60px;
  }

  form#warrenty_form {
    margin-top: 10px;
  }

  .form-row input,
  .form-row select {
    height: 55px;
    margin-bottom: 5px;
  }

  .form-row input::placeholder,
  .form-row select::placeholder {
    color: #707070;
  }

  select#online-purchase::placeholder,
  select#Offline-purchase::placeholder {
    color: #000;
  }

  .form-row select {
    color: #000;
  }

  .form-row {
    display: flex;
    flex: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .form-group.col-md-6 {
    width: 462px;
  }

  .form-group.col-12 {
    width: 100%;
  }

  .trms-checkbox {
    display: flex;
    align-items: center;
  }

  input.i-accpt {
    width: 18px;
    height: 18px;
    border: 1px solid #1d4786;
    margin-bottom: 0;
  }

  label.location {
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: inherit;
    /*     font-family: 'League Spartan'; */
  }

  a#accpt-terms {
    color: #1d4786;
    text-decoration: underline;
  }

  .warranty_container .submit_btn input#vtigerFormSubmitBtn_6 {
    font-weight: 400;
    overflow: hidden;
    color: #fff;
  }

  div#pop-terms {
    background: #fff;
    box-shadow: -4px -10px 19px #ebebeb;
  }

  div#pop-terms {
    background: #fff;
    box-shadow: -4px -10px 19px #ebebeb;
    padding: 2% 5%;
    position: relative;
  }

  h3.heading-title {
    font-size: 24px;
    padding: 30px 0 15px;
    font-weight: 500;
  }

  .pop-terms_p p:first-child {
    padding-bottom: 15px;
  }

  p.close_arrow {
    float: right;
    position: absolute;
    right: 5%;
    top: 5%;
  }

  .form-row select:focus-visible {
    outline: none;
  }

  .form_head_p {
    align-items: center;
  }

  .warranty-page input.form-control.fname.buttonstyle {
    margin-bottom: 5px;
  }

  .warranty-page span.text-danger {
    margin-bottom: 15px;
  }

  p.order_inv_txt {
    margin-top: 18px;
  }

  .trms-checkbox.terms__online {
    justify-content: center;
    gap: 5px;
  }

  .generate_otp {
    background: #0093dd !important;
    text-transform: capitalize !important;
    border-radius: 32px !important;
    font-weight: 400;
    font-size: 18px;
  }
.verify_otp{
   background: #0093dd !important;
    text-transform: capitalize !important;
    border-radius: 32px !important;
    font-weight: 400;
    font-size: 18px;
}
  .trms-checkbox.terms__offline {
    justify-content: center;
  }

  .submit_btn {
    text-align: -webkit-center;
  }

  .form-row_block {
    margin: 28px;
  }

  .flx_img_picker {
    position: relative;
  }



  #warrantyDop {
    overflow: hidden;
  }

  .terms__offline {
    display: none;
  }

  .warning {
    border: solid 2px #F00;
  }

  .terms_cond_err_container {
    text-align-last: left;
  }

  input#warrantyImage {
    width: auto;

      {
      % comment %
    }

    margin-left: 24px;

      {
      % endcomment %
    }
  }

  span#cancel-upload {
    cursor: pointer;
    /* Yash */
    display: flex;
    align-items: center;
  }

  /* Page center in 2k screen */
  .war_radio_box {
    display: flex;
    align-items: center;
  }

  .war_radio_box input {
    margin-right: 10px !important;
    margin-bottom: 0px !important;
    width: 25px;
    height: 25px;
  }

  .warr__radio__cont {
    display: flex;
/*     align-items: center;
    padding-right: 28px; */
    gap: 10px;
  }

  /**/
  .form-group.col-md-3.warr__radio__cont {
    display: flex;
  }

  .col-md-3.war_radio_box {
    height: 32px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .war__offline {
    display: none;
   }

  .did-floating-box {
    position: relative;
  }

  label.did-floating-label {
    position: absolute;
    top: 1rem;
    left: 2.5rem;
    display: inline-block;
    background: #fff;
    color: #252525;
    transition: .3s ease-in-out;
    /* Yash */
    font-size: 16px;
  }

  .buttonstyle:focus+.did-floating-label {
    top: -.75rem;
    left: 1.4rem;
    display: inline-block;
    z-index: 10;
    padding: 2px 5px;
  }

  .buttonstyle:not(:placeholder-shown).buttonstyle:not(:focus)+.did-floating-label {
    top: -.75rem;
    left: 2.3rem;
    display: inline-block;
    padding: 2px 5px;
    z-index: 10;
  }



  .did-floating-box-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative
  }

  .did-floating-box-select::-ms-expand {
    display: none;
  }

  .did-floating-box-select:not([value=""]):valid~.did-floating-label {
    top: -8px;
    font-size: 13px;
  }

  .did-floating-box-select[value=""]:focus~.did-floating-label {
    top: 11px;
    font-size: 13px;
  }

  .did-floating-label-content-war {
    position: relative;
    /*margin-bottom: 20px; */
  }

  .did-floating-select {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .did-floating-select:focus {
    outline: none;
  }

  .did-floating-select:focus~.did-floating-label-war {
    top: -8px;
  }

  select.did-floating-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select.did-floating-select::-ms-expand {
    display: none;
  }

  .did-floating-select:not([value=""]):valid~.did-floating-label-war {
    top: -.65rem;
    left: 1.4rem;
  }

  .did-floating-select[value=""]:focus~.did-floating-label-war {
    top: 1rem;
  }


  .did-floating-label-war {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 1.28rem;
    top: 1rem;
    padding: 0 5px;
    background: #fff;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
  }

  .date_svg-img {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  div#onlinePurchase,
  div#warOffline {
    width: 273px !important;
  }

  .flx_img_picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .p.order__invoice__box {
    width: 30%;
  }

  .file__box {
    width: 70%;
  }

  button.file_content_btn.upload__file {
    color: #252525;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-radius: 05px;
    background: #f0f0f0;
  }

  .button__container {
    position: relative;
  }

  .warrantyImage {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }

  .file__name__message {
    display: none;
    background-color: #eee;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    /* Yash */
    padding: 0px 10px;
    gap: 6px;
  }

  #cancel-upload svg {
    padding: 3px;
    border: 1px solid black;
    border-radius: 50%;
  }

  #file__name__error {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .warranty_container input,
  label:not([data-item]),
  textarea {
    font-size: 16px;
  }

  .flx_img_picker p {
    font-size: 14px;
    font-weight: 400;
    /* padding-left: 22px; */
  }

  .file__content__drop {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .file__browser {
    font-weight: 500;
    text-decoration: underline;
  }

  span#warrantyImage_error {
    position: absolute;
    top: 55px;
  }

  #warrantyiages {
    display: none;
  }

  input#vtigerFormSubmitBtn_6 {
    margin: 0px;
    margin-top: 15px;
  }

  input#vtigerFormSubmitBtn_6 {
    color: #fff;
  }

  input#otp-txt {
    width: 50%;
  }

  h6.verify-txt {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  input#vtigerFormSubmitBtn_6 {
    margin: 0px;
    margin-top: 15px;
  }


  .active-links {
    color: #023e88 !important;
    text-decoration: underline !important;
  }

  @media screen and (max-width:1024px) {
    button.file_content_btn.upload__file {
      width: 100%;
    }

    .buttonstyle:not(:placeholder-shown).buttonstyle:not(:focus)+.did-floating-label {
      left: 1.4rem;
    }

    .form-group {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .otp-form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h6.verify-txt {
      font-size: 22px;
    }

    input#otp-txt {
      width: 95% !important;
      padding: 10px 20px !important;
    }

    input#vtigerFormSubmitBtn_6 {
      width: auto !important;
      background: #0093dd !important;
    }

    .flx_img_picker {
      gap: 10px;
    }

    .terms-condition {
      margin-bottom: 20px;
    }

    .file__name__message {
      width: 100%;
    }

    span#warrantyImage_error {
      left: -119px;
    }

    .form-group {
      margin-bottom: 15px !important;
    }

    .war__online {
      margin-bottom: 20px !important;
    }

    .war__offline {
      margin-bottom: 10px !important;
    }



    .dd_bottom__remove {
      /*margin-bottom: 0px !important;*/
    }

    p.order__invoice__box {
      width: 40%;
    }

    .file__box {
      width: 70%;
    }

    .trms-checkbox {
      align-items: start;
    }

    input#online__tandc,
    input#offline__tandc {
      margin-top: 5px;
    }

    .form-group.col-md-3.warr__radio__cont {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .mobilehide {
      display: none;
    }

    .radio_online_off_1 {
      width: 100%;
    }

    .form-group {
      margin-bottom: 10px !important;
    }

    .did-floating-label-content-war {
      margin-bottom: 10px;
    }

    input#warrantyImage {
      margin-left: 0px !important;
    }

    .warranty_container {
      width: 100%;
      padding: 0 16px;
      padding-bottom: 40px;
      margin-top: 70px;
    }

    .form_head_p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
    }

    .form_head_p .l_para {
      width: 30%;
    }

    .heading_text {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    label.did-floating-label,
    label.did-floating-label-war {
      font-size: 16px !important;
      left:1rem;
    }

    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    textarea,
    textarea[data-item] {
      font-size: 16px !important;
    }

    select {
      font-size: 16px;
    }

    .help-inline {
      font-size: 15px;
      /*   padding-left:5px; */
    }

    span.d_flex.heading_div.warranty_head {
      padding: 30px 0;
    }

    .form-row {
      flex-direction: column;
      margin-bottom: 0px !important;
    }

    .form-group.col-md-6 {
      width: 100%;
    }

    form#warrenty_form {
      margin-top: 20px;
    }

    label.location {
      font-size: 15px;
    }

    .form-row input,
    .form-row select {
      height: 56px;
      /*  yash   margin-bottom: 18px; */
    }

    .form-row input::placeholder,
    .form-row select::placeholder {
      font-size: 16px;
    }

    input.i-accpt {
      margin-bottom: 0;
    }

    .warranty_container h2.featured-collections--heading.heading_text {
      text-transform: capitalize;
    }

    .warranty_container .submit_btn input#vtigerFormSubmitBtn_6 {
      font-weight: 400;
      overflow: hidden;
      width: 175px;
      height: 50px;
      margin: 0 auto;
    }

    div#pop-terms {
      padding: 5% 5% 8%;
      margin-top: 40px;
    }

    h3.heading-title {
      font-size: 20px;
    }

    #offiline__select {
      margin-bottom: 30px;
    }

    .pop-terms_p {
      font-size: 13px;
      color: #A4A4A4;
    }

    .radio_online_off {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    p.log_in_p {
      font-size: 14px;
      text-align: right;
      width: auto;
    }

    .form_head_p .l_para {
      font-size: 16px;
      font-weight: 500;
    }

    .log_in_p a {
      color: #1B4786;
      text-decoration: underline;
    }

    .form-group.col-md-3.warr__radio__cont {
      display: block;
    }

    div#onlinePurchase,
    div#warOffline {
      width: 100%;
      margin-top: 15px;
    }

    .warr__radio__cont {
      display: flex;
      align-items: start;
      gap: 0;
      flex-direction: column;
    }

    .did-floating-label-war {
      left: 1rem;
    }
    .label.did-floating-label, .label.did-floating-label {
      left: 1rem;
    }

  }

  @media screen and (min-width:768px) and (max-width:1200px) {
    .warranty_container {
      padding: 0 4%;
      width: 100%;

    }

    .flx_img_picker p {
      font-weight: 400 !important;
    }

  }

  span#terms_cond_error {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-md-3.col-sm-12.warr__radio__cont {
    width: 50%;
}
  .radio_online_off {
    display: flex;
    flex-direction: column;
}

  span.location.terms-condition {
    display: flex;
}

  @media only screen and (max-width: 600px) {
  .radio_online_off {
    flex-direction: row;
  }
  .col-md-3.col-sm-12.warr__radio__cont {
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-md-3.col-sm-12.warr__radio__cont {
    width: 100%;
  }
    div#onlinePurchase, div#warOffline {
    width: 100% !important;
}
    label.did-floating-label-war.flt_prd_model {
    width: 50% !important;
}
    span.location.terms-condition {
    display: block;
}
}

  label.did-floating-label-war.flt_prd_model {
    width: 30%;
}
</style>
<div class="warranty_container">
  <div class="warranty-page row">
    <span class="d_flex heading_div warranty_head">
      <h2 class="featured-collections--heading heading_text" data-item="section-heading"> Warranty Registration </h2>
    </span>
  </div>
  <div class="form_head_p">
    <p class="l_para">Your Details</p>
    {% unless customer %}
    <p class="log_in_p">Already have an account? <a href="javascript:void(0)" onclick="openLoginForm()">Log
        In</a>
      {% endunless %}
    </p>
  </div>
  <form id="warrenty_form" method="POST" enctype="multipart/form-data">
    <div class="warrenty-form">
      <div class="form-row">
        <div class="form-group col-md-6 did-floating-box">
          <input class="form-control fname buttonstyle" type="text"
            value="{% if customer %}{{ customer.first_name }}{% endif %}" id="first-name" name="first_name"
            placeholder=" " autocapitalize="words" v-on:keypress="isLetter($event)" required>
          <label class="did-floating-label">First Name</label>
          <span id="first_name_error" class="help-inline text-danger"></span>
        </div>
        <div class="form-group col-md-6 did-floating-box">
          <input class="form-control lname buttonstyle" type="text"
            value="{% if customer %}{{  customer.last_name  }}{% endif %}" id="last-name" name="last_name"
            autocapitalize="words" placeholder=" " required>
          <label class="did-floating-label">Last Name</label>
          <span id="last_name_error" class="help-inline text-danger"></span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 did-floating-box">
          <input type="email" class="form-control emailadd buttonstyle"
            value="{% if customer %}{{  customer.email  }}{% endif %}" name="email" id="Email" autocorrect="off"
            autocapitalize="off" placeholder=" " required>
          <label class="did-floating-label">Email ID</label>
          <span id="email_error" class="help-inline text-danger"></span>
        </div>
        <div class="form-group col-md-6 did-floating-box">
          <input class="form-control buttonstyle"
            value="{% if customer %}{{ customer.default_address.phone }}{% endif %}" type="tel" name="mobile"
            id="contactFormPhone" pattern="[0-9]{10}" maxlength="10" placeholder=" " required>
          <label class="did-floating-label">Mobile No.</label>
          <span id="mobile_error" class="help-inline text-danger"></span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="did-floating-label-content-war">
            <select id="address_state" name="state" class="did-floating-select"
              onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);"
              value="">
              {% comment %} {% if customer %}
              <option value="{{ customer.default_address.province  }}" selected>{{ customer.default_address.province }}
              </option>
              {% endif %} {% endcomment %}
              <option value="" selected disabled></option>
            </select>
            <label class="did-floating-label-war">State</label>
            <span id="state_error" class="help-inline text-danger"></span>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group col-md-6 did-floating-box">
            <input class="form-control buttonstyle"
               type="text" name="city"
              id="address_city"  placeholder=" " required>
            <label class="did-floating-label">City</label>
            <span id="city_error" class="help-inline text-danger"></span>
          </div>
          {% comment %} <div class="did-floating-label-content-war">
            <select id="address_city" name="city" class="did-floating-select"
              onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);"
              value="">
              <option value="" selected disabled></option>
            </select>
            <label class="did-floating-label-war">City</label>
            <span id="city_error" class="help-inline text-danger"></span>
          </div> {% endcomment %}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 col-sm-12  warr__radio__cont">
          <div class="radio_online_off">
            <div class="col-md-3 war_radio_box">
              <input type="radio" class="form-control" id="war_on_click" name="warranty" value="OnlinePurchase"
                checked>Online Purchase
            </div>
            <div class="col-md-3 war_radio_box">
              <input type="radio" class="form-control" id="war_of_click" name="warranty" value="offlinePurchase">Offline
              Purchase
            </div>
          </div>
          <div class=" form-group radio_online_off_1">
            <div class="col-3 war__offline" id="warOffline">
              <div class="did-floating-label-content-war">
                <select class="did-floating-select" id="Offline-purchase" name="offline"
                  onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);"
                  value="">
                  <option value="" selected disabled></option>
                  <option value="Homeretail">Home Retail Store</option>
                  <option value="offother">Other</option>
                </select>
                <label class="did-floating-label-war">Offine Purchase Source</label>
                <span id="offline_error" class="help-inline text-danger"></span>
              </div>
            </div>
            <div class="col-3 war__online" id="onlinePurchase">
              <div class="did-floating-label-content-war">
                <select class="did-floating-select" id="online-purchase" name="online"
                  onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);"
                  value="">
                  <option value="" selected disabled></option>
                  <option value="Amazon">Amazon</option>
                  <option value="flipkart">Flipkart</option>
                  <option value="pepperfry">Pepperfry</option>
                  <option value="Nilkamal Furniture">Nilkamal Furniture</option>
                  <option value="onother">Other</option>
                </select>
                <label class="did-floating-label-war">Online Purchase Source</label>
                <span id="online_error" class="help-inline text-danger"></span>
              </div>
            </div>
         </div>
        </div>
        <div class="form-group col-md-6 did-floating-box dd_bottom__remove">
          <input type="date" name="date_of_purchase" id="warrantyDop" placeholder="dd-mm-yyyy"
            class=" form-control buttonstyle" />
          <label class="did-floating-label">Date of purchase</label>
          <img class="date_svg-img"
            src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/Vector_1.svg?v=1682518087" alt="">
          <span id="date_of_purchase_error" class="help-inline text-danger"></span>
        </div>

      </div>
      <div class="form-row">
        {% comment %}<div class="form-group col-md-6">
          <input type="text" name="modal_name" id="warrantyModel" placeholder="Model Name*"
            class="form-control buttonstyle" required />
          <span id="mobile_error" class="help-inline text-danger"></span>
        </div>{% endcomment %}
        <div class="form-group col-md-6">
          <div class="did-floating-label-content-war">
            <select class="did-floating-select buttonstyle warrantyModel" onclick="this.setAttribute('value', this.value);"
              name="modal_name" id="warrantyModel" onchange="this.setAttribute('value', this.value);" value="">
              <option value="" selected disabled></option>
              <option value="Sparkle Mattress">Sparkle Mattress</option>
              <option value="Prem Mattress">Prem Mattress</option>
              <option value="Trendz Mattress">Trendz Mattress</option>
              <option value="Pure Foam Mattress">Pure Foam Mattress</option>
              <option value="Amaze Mattress">Amaze Mattress</option>
              <option value="Dreamer Mattress">Dreamer Mattress</option>
              <option value="Regal Mattress">Regal Mattress</option>
              <option value="Blue Sky Mattress">Blue Sky Mattress</option>
              <option value="Rest Bond Mattress">Rest Bond Mattress</option>
              <option value="Sneham XL Mattress">Sneham XL Mattress</option>
              <option value="Cool Bond Mattress">Cool Bond Mattress</option>
              <option value="HD coir Mattress">HD coir Mattress</option>
              <option value="Health Plus Mattress">Health Plus Mattress</option>
              <option value="Curve Mattress">Curve Mattress</option>
              <option value="Well Bond Mattress">Well Bond Mattress</option>
              <option value="Soft Bond Mattress">Soft Bond Mattress</option>
              <option value="Sofi Mattress">Sofi Mattress</option>
              <option value="Travelite Mattress">Travelite Mattress</option>
              <option value="Firm-0-Spring Mattress">Firm-0-Spring Mattress</option>
              <option value="Flora Mattress">Flora Mattress</option>
              <option value="Flora PT Mattress">Flora PT Mattress</option>
              <option value="Flora PT + Mattress">Flora PT + Mattress</option>
              <option value="Radiance Mattress">Radiance Mattress</option>
              <option value="Vibrant Mattress">Vibrant Mattress</option>
              <option value="Vibrant BT Mattress">Vibrant BT Mattress</option>
              <option value="Ortho Comfort Mattress">Ortho Comfort Mattress</option>
              <option value="Macanzie Ortho Mattress">Macanzie Ortho Mattress</option>
              <option value="Spinefit Mattress">Spinefit Mattress</option>
              <option value="Ultrabliss Mattress">Ultrabliss Mattress</option>
              <option value="Aeroluxe Mattress">Aeroluxe Mattress</option>
              <option value="Accube Mattress">Accube Mattress</option>
              <option value="Rejuve Mattress">Rejuve Mattress</option>
              <option value="Aerolite Foam Mattress" >Aerolite Foam Mattress</option>
              <option value="Soft Dreams Foam Mattress" >Soft Dreams Foam Mattress</option>
              <option value="Trugrid Foam Mattress" >Trugrid Foam Mattress</option>
              <option value="Side Align Foam Mattress" >Side Align Foam Mattress</option>
            </select>
            <label class="did-floating-label-war flt_prd_model">Product Model</label>
            <span id="modal_name_error" class="help-inline text-danger"></span>
          </div>
        </div>
        <div class="form-group col-md-6 did-floating-box">
          <input type="text" name="model__size" id="warrantySize" placeholder=" " class="form-control buttonstyle"
            required />
          <label class="did-floating-label">Sub Model/Size</label>
          <span id="model__size_error" class="help-inline text-danger"></span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 did-floating-box">
          <input type="text" name="invoice_id" id="warrantyInvoice" placeholder=" " class="form-control buttonstyle"
            required />
          <label class="did-floating-label">Invoice ID</label>
          <span id="invoice_id_error" class="help-inline text-danger"></span>
        </div>
        <div class="form-group col-md-6" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
          <div class="flx_img_picker">
            <p class="order__invoice__box">Order Invoice*</p>
            <div class="file__box">

              <div class="button__container" id="upload">
                <button class="file_content_btn upload__file">
                  <span class="file__content__drop"><span class="mobilehide">Drag & Drop your file or</span> <span
                      class="file__browser">Browse</span></span>
                </button>
                <input type="file" name="file" accept="image/jpeg,image/jpg, image/png, application/pdf"
                  id="warrantyImage" onchange="displayFileName()" class="warrantyImage filepond">
                <span id="warrantyImage_error" class="help-inline text-danger error__text__position"></span>

                <span id="warrantyiages" class="help-inline text-danger error__text__position"></span>
              </div>

              <div class="file__name__message" id="file_upload_container">
                <span id="file__name__error"></span>
                <span class="" type="button" id="cancel-upload">
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 8.727 17.944.783l1.273 1.273L11.273 10l7.944 7.944-1.273 1.273L10 11.273l-7.944 7.944-1.273-1.273L8.727 10 .783 2.056 2.056.783 10 8.727Z"
                      fill="#000" fill-rule="nonzero"></path>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <span id="warrantyfile_error" class="help-inline text-danger error__text__position"></span>
          <span id="warrantyfile_error_1" class="help-inline text-danger error__text__position"></span>

          <!--                   <span id="warrantyImage__file_error" class="help-inline text-danger">Note: Only image and PDF files are allowed</span> -->
        </div>
      </div>
      <div class="form-row_block">
        <div class="form-group col-12 text-center">
          <div class="trms-checkbox terms__online">
            <input type="checkbox" id="online__tandc" class="i-accpt" name="terms-condition">
            <span class="location terms-condition" for="terms-condition">I accept the&nbsp;<a id="accpt-terms-online"
                class="war__online active-links" target="_blank" href="https://www.nilkamalfurniture.com/pages/warranty-registration-online"> terms
                and conditions
                (Online purchase)</a><a target="_blank" id="accpt-terms-offline" class="war__offline active-links"
                href="https://nilkamalfurniture.myshopify.com/pages/warranty-registration-offline"> terms and conditions (Offline
                purchase)</a>
            </span>
<!--             <span class="location terms-condition" for="terms-condition">I accept the <a id="accpt-terms-offline"
                class="war__offline active-links" target="_blank"
                href="https://nilkamalfurniture.myshopify.com/pages/warranty-registration-offline"> Terms & Conditions</a>
            </span> -->
          </div>
          <div class="terms_cond_err_container">
            <span id="terms_cond_error" class="help-inline text-danger"></span>
          </div>
          {% comment %} <div class="trms-checkbox terms__offline">
            <input type="checkbox" id="offline__tandc" class="i-accpt" name="terms-condition">
            <label class="location" for="terms-condition">I accept the <a id="accpt-terms"
                href="https://doctordreams.com/pages/warranty-registration-offline"> terms and conditions (Offline
                purchase)</a></label>
          </div> {% endcomment %}
          {% comment %} <div class="terms_cond_err_container">
            <span id="terms_cond_error" class="help-inline text-danger"></span>
          </div> {% endcomment %}
        </div>
        <div class="submit_btn">
          {%- comment -%} <input type="submit" value="Submit" id="vtigerFormSubmitBtn_6"
            class="secondary-lg-button secondary-button"> {%- endcomment -%}
          <!-- id="otp-btn" -->
          <input type="button" value="Generate OTP" id="vtigerFormSubmitBtn_6"
            class="secondary-lg-button secondary-button generate_otp getImageFun">
        </div>
      </div>
    </div>
    <div class="otp-form" style="display: none;">
      <div class="text-center">
        <h6 class="verify-txt">Please verify Your OTP</h6>
        <div class="form-group">
          <input type="text" class="form-control buttonstyle form-group verify__otp__enter" id="otp-txt" name="otp"
            autocapitalize="words" placeholder="Enter OTP" required="">
        </div>
        <span id="otp_error" class="help-inline text-danger"></span>
        <!-- id="otp-btn" -->
        <input type="button" value="Verify" id="vtigerFormSubmitBtn_6"
          class="secondary-lg-button secondary-button verify_otp ">
      </div>
    </div>
  </form>



</div>
{% comment %} <div id="pop-terms">
  <p class="close_arrow">
    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10 8.727 17.944.783l1.273 1.273L11.273 10l7.944 7.944-1.273 1.273L10 11.273l-7.944 7.944-1.273-1.273L8.727 10 .783 2.056 2.056.783 10 8.727Z"
        fill="#000" fill-rule="nonzero"></path>
    </svg>
  </p>
  <!-- <a onclick="cls()" href="javascript:void();" class="close_brandpopup">x</a> -->
  <h3 class="heading-title">Terms and Conditions</h3>
  <div class="pop-terms_p">
    <p>Doctor dreams Mattresses are warrantied against any manufacturing defect for a period of 10 years from the date
      of purchase. In case of any manufacturing defect (specified below) within 1 year of purchase, the mattress will be
      repaired or replaced with an identical product. In case of any manufacturing defect after the first year, either a
      repair or in case if a repair is not possible, a Prorated Credit Settlement will be applicable.</p>
    <p>Which means for every year you own it, you would receive less and less credit.</p>
  </div>
</div> {% endcomment %}
{% section 'warranty__login__popup' %}
<style>
  .overflow_pop {
    overflow: hidden;
  }

</style>
<script>
  $('.generate_otp').click(function (e) {


    validateInputsOnsubmit()

    console.clear("console clear");
    console.log('e', e);

    var file_data = $('#warrantyImage').val();


    var MAX_FILE_SIZE = 1 * 1024 * 1024;
    var fileSize = $('#warrantyImage')[0]?.files[0]?.size;
    // console.log('fileSize', fileSize);

    // console.log('fileSize 4', !file_data == null || undefined ? 'Document is image or a PDF' :'Please upload your Invoice document as image or a PDF' );

    if (file_data != null || file_data != undefined) {



      var fileExt = file_data.substr(file_data.lastIndexOf('.') + 1).toLowerCase();
      if (fileExt === 'jpeg' || fileExt === 'png' || fileExt === 'jpg' || fileExt === 'pdf') {

        //alert('2nd if');
        console.log('File is in proper format');
        if (fileSize < MAX_FILE_SIZE) {

          // alert('3rd if');

          //warrenty_form submit
          var form = $('#warrenty_form');
          $.ajax({
            url: "https://admin.nilkamalfurniture.com/api/warranty-register",
            type: 'POST',
            data: form.serialize(),
            dataType: 'json',
            success: function (resp) {
              if (resp.success == true) {
                if ($("#online__tandc").is(":checked")) {
                  $('.warrenty-form').hide();
                  $('.form_head_p').hide();
                  $('.otp-form').show();
                  console.log("form submitted");
                } else {
                  $('#terms_cond_error').text('Please select terms and condition');
                  //alert("Please select terms & condition");
                }
              }
            },
            error: function (data) {
              console.log('Errors Data Vivek', data.responseJSON[0])
              $.each(data.responseJSON[0], function (k, v) {
                $('#' + k + '_error').text(v);
              });
            },
          });
          //warrenty_form submit end

        }
        else {
          e.preventDefault();
          $('#warrantyImage').val("");
          warrantyfile_error.textContent = 'File size must be less than 1MB';
          file_upload_container.classList.add("warning");
        }
        warrantyfile_error.textContent = '';
        file_upload_container.classList.remove("warning");
      }
      else {
        warrantyfile_error_1.textContent = 'The selected file is not an image or a PDF';
        warrantyfile_error.textContent = '';
        // The selected file is not an image or a PDF
        console.log('Invalid file type in img');
      }
    }
    else {
      // e.preventDefault();
      $('#warrantyImage').val("");
      warrantyfile_error_1.textContent = 'Please upload your Invoice document as image or a PDF';
      warrantyfile_error.textContent = '';

      //file_upload_container.classList.add("warning");
      // The selected file is not an image or a PDF
      console.log('File not uploaded');

      // Show an error message or prevent uploading the file
      $('.file__name__message').css('display', 'none');
      $('.button__container').css('display', 'block');
      //$("#warrantyImage").val("");
      //$("#warrantyImage").click();

    }

  });

  $('#online-purchase').change(function () {
    var online_val = $(this).val();
    if (online_val == 'onother') {
      $('#olothers').show();
    } else {
      $('#olothers').hide();
    }
  });
  $('#Offline-purchase').change(function () {
    var online_val = $(this).val();
    if (online_val == 'offother') {
      $('#ofothers').show();

    } else {
      $('#ofothers').hide();
    }


  });
  $('.verify_otp').click(function () {
    // e.preventDefault();

    $("#warrenty_form").ajaxSubmit({
      url: "https://admin.nilkamalfurniture.com/api/verify-otp",
      type: 'POST',
      dataType: 'json',
      success: function (resp) {
        if (resp.success == true) {
          window.location.href = 'https://nilkamalfurniture.myshopify.com/pages/thank-you-page';
        } else {
          $('#otp_error').text('OTP not verified');
        }
      },
    });
  });
</script>



<script>

  const nameInput = document.getElementById('first-name');
  const errorMessage = document.getElementById('first_name_error');
  const lastnameInput = document.getElementById('last-name');
  const errorMessagelast = document.getElementById('last_name_error');
  const emailnameInput = document.getElementById('Email');
  const errorMessageemail = document.getElementById('email_error');
  const mobilenoInput = document.getElementById('contactFormPhone');
  const errorMessagemobile = document.getElementById('mobile_error');
  const stateInput = document.getElementById('address_state');
  const errorMessagestate = document.getElementById('state_error');
  const cityInput = document.getElementById('address_city');
  const errorMessagecity = document.getElementById('city_error');
  const offlineInput = document.getElementById('Offline-purchase');
  const errorMessageoffline = document.getElementById('offline_error');
  const onlineInput = document.getElementById('online-purchase');
  const errorMessageonline = document.getElementById('online_error');

  const warrantyDopInput = document.getElementById('warrantyDop');
  const errorMessagewarrantywarrantyDop = document.getElementById('date_of_purchase_error');

  const warrantyModelInput = document.getElementById('warrantyModel');
  const errorMessagewarrantywarrantyModel = document.getElementById('modal_name_error');

  const warrantySizeInput = document.getElementById('warrantySize');
  const errorMessagewarrantywarrantySize = document.getElementById('model__size_error');

  const warrantywarrantyInvoice = document.getElementById('warrantyInvoice');
  const errorMessagewarrantywarrantyInvoice = document.getElementById('invoice_id_error');

  const warrantywarrantywarrantyImage = document.getElementById('warrantyImage');
  const errorMessagewarrantywarrantyImage = document.getElementById('warrantyfile_error');
  const file_upload_container = document.getElementById('file_upload_container');

  const inputs = document.querySelectorAll('.buttonstyle');

  const cancelButton = document.getElementById("cancel-upload");


  // Get the selected date
  const selectedDate = new Date(document.getElementById("warrantyDop").value);

  // Get the current date
  const currentDate = new Date();


  function checkFileInput() {
    if (warrantywarrantywarrantyImage.value) {
      cancelButton.style.display = "block";
    } else {
      cancelButton.style.display = "none";
    }
  }



  let phoneNumberInput = $("input[type='tel']");

  // bind a keypress event listener to the input field
  phoneNumberInput.keypress(function (event) {
    // get the character code of the pressed key
    var charCode = event.which;

    // use a regular expression to check if the key is a number
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      // if the key is not a number, prevent it from being entered
      event.preventDefault();
    }
  });

  $('#warrantyInvoice').on('input', function () {
    var inputValue = $(this).val();
    $(this).val(inputValue.replace(/[^a-zA-Z0-9\-]/g, ''));
  });
  $('#warrantySize').on('input', function () {
    var inputValue = $(this).val();
    $(this).val(inputValue.replace(/[^a-zA-Z0-9\-]/g, ''));
  });

  nameInput.addEventListener('blur', () => {
    if (nameInput.value?.trim() === '') {
      errorMessage.textContent = 'Please enter your First Name';
    } else {
      errorMessage.textContent = '';
    }
  });
  inputs.forEach(input => {
    input.addEventListener('blur', (e) => {
      if (e.target.value?.trim().length == 0) {
        e.target.classList.add('warning')
      } else {
        e.target.classList.remove('warning')
      }
    });
  });
  lastnameInput.addEventListener('blur', () => {
    if (lastnameInput.value?.trim() === '') {
      errorMessagelast.textContent = 'Please enter your Last Name';
    } else {
      errorMessagelast.textContent = '';
    }
  });
  emailnameInput.addEventListener('blur', () => {
    if (emailnameInput.value?.trim() === '') {
      errorMessageemail.textContent = 'Please enter your Email ID';
    } else {
      errorMessageemail.textContent = '';
    }
  });
  mobilenoInput.addEventListener('blur', () => {
    if (mobilenoInput.value?.trim() === '') {
      errorMessagemobile.textContent = 'Please enter your Mobile no';
    } else {
      errorMessagemobile.textContent = '';
    }
  });
  stateInput.addEventListener('blur', () => {
    if (stateInput.value?.trim() === '') {
      errorMessagestate.textContent = 'Please enter State field';
    } else {
      errorMessagestate.textContent = '';
    }
  });
  cityInput.addEventListener('blur', () => {
    if (cityInput.value?.trim() === '') {
      errorMessagecity.textContent = 'Please enter City field';
    } else {
      errorMessagecity.textContent = '';
    }
  });
  offlineInput.addEventListener('blur', () => {
    if (offlineInput.value?.trim() === '') {
      errorMessageoffline.textContent = 'Please select a Purchase Source';
    } else {
      errorMessageoffline.textContent = '';
    }
  });
  onlineInput.addEventListener('blur', () => {
    if (onlineInput.value?.trim() === '') {
      errorMessageonline.textContent = 'Please select a Purchase Source';
    } else {
      errorMessageonline.textContent = '';
    }
  });


  warrantyDopInput.addEventListener('blur', () => {
    if (warrantyDopInput.value?.trim() === '') {
      errorMessagewarrantywarrantyDop.textContent = 'Please select your Date of Purchase';
    } else {
      errorMessagewarrantywarrantyDop.textContent = '';
    }
  });

  warrantyModelInput.addEventListener('blur', () => {
    if (warrantyModelInput.value?.trim() === '') {
      errorMessagewarrantywarrantyModel.textContent = 'Please select your Product model';
    } else {
      errorMessagewarrantywarrantyModel.textContent = '';
    }
  });

  warrantySizeInput.addEventListener('blur', () => {
    if (warrantySizeInput.value?.trim() === '') {
      errorMessagewarrantywarrantySize.textContent = 'Please enter the Product Size / Sub Model';
    } else {
      errorMessagewarrantywarrantySize.textContent = '';
    }
  });

  warrantywarrantyInvoice.addEventListener('blur', () => {
    if (warrantywarrantyInvoice.value?.trim() === '') {
      errorMessagewarrantywarrantyInvoice.textContent = 'Please enter your Invoice ID';
    } else {
      errorMessagewarrantywarrantyInvoice.textContent = '';
    }
  });

  warrantywarrantywarrantyImage.addEventListener('blur', () => {
    event.preventDefault(); // prevent form submission
    console.log("warrantywarrantywarrantyImage 1");
    if (warrantywarrantywarrantyImage.value?.trim() == '') {
      console.log("warrantywarrantywarrantyImage 2");
      errorMessagewarrantywarrantyImage.textContent = 'Please upload your Invoice document';
      if (!warrantywarrantywarrantyImage.value) {
        console.log("warrantywarrantywarrantyImage 3");
        //alert('Please select a file'); // show an error message
        errorMessagewarrantywarrantyImage.textContent = 'Please upload your Invoice document';
        event.preventDefault(); // prevent form submission
      } else if (warrantywarrantywarrantyImage.files[0].size > 1000000) {
        console.log("warrantywarrantywarrantyImage 4");
        //alert('File size must be less than 1MB'); // show an error message
        errorMessagewarrantywarrantyImage.textContent = 'File size must be less than 1MB';
        file_upload_container.classList.add("warning");
        event.preventDefault(); // prevent form submission
      }

    } else if (warrantywarrantywarrantyImage.files[0].size > 1000000) {
      console.log("warrantywarrantywarrantyImage 5.0");
      //alert('File size must be less than 1MB'); // show an error message
      errorMessagewarrantywarrantyImage.textContent = 'File size must be less than 1MB';
      file_upload_container.classList.add("warning");
      event.preventDefault(); // prevent form submission
    }
    else {
      console.log("warrantywarrantywarrantyImage 5");
      file_upload_container.classList.remove("warning");
      errorMessagewarrantywarrantyImage.textContent = '';
    }
  });

  //remove
  warrantywarrantywarrantyImage.addEventListener('click', () => {
    if (warrantywarrantywarrantyImage.value?.trim() === '') {
      errorMessagewarrantywarrantyImage.textContent = 'Please upload your Invoice document';
      $("#warrantyfile_error_1").textContent = '';
    } else {
      errorMessagewarrantywarrantyImage.textContent = '';
    }
  });


  function validateInputs() {
    if (input1.value?.trim() === '' || input2.value?.trim() === '' || input3.value?.trim() === '' || input4.value?.trim() === '' || input5.value?.trim() === '') {
      errorMessage.textContent = 'All fields are required';
    } else {
      errorMessage.textContent = '';
    }
  }




  // drag and drop script to only accept images and pdf.
  function dragOverHandler(event) {
    event.preventDefault();
  }

  function dropHandler(event) {
    event.preventDefault();
    const files = event.dataTransfer.files;
    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      if (file.type.includes('image/') || file.type === 'application/pdf') {
        // Handle the file here
        displayFileName();
      }
    }
  }

  //Drag Event file upload
  const uploadBtn = document.querySelector('#upload');
  const input = document.querySelector('#warrantyImage');
  const warrantyfile_error = document.getElementById('warrantyfile_error');
  const warrantyfile_error_1 = document.getElementById('warrantyfile_error_1');

  uploadBtn.addEventListener('dragover', (e) => {
    e.preventDefault();
    uploadBtn.classList.add('dragover');
  });

  uploadBtn.addEventListener('dragleave', () => {
    uploadBtn.classList.remove('dragover');
  });

  uploadBtn.addEventListener('drop', (e) => {

    e.preventDefault();
    uploadBtn.classList.remove('dragover');
    const file = e.dataTransfer.files[0];
    input.files = e.dataTransfer.files;
    if (file.type === 'image/jpeg' ||
      file.type === 'image/png' ||
      file.type === 'image/gif' ||
      file.type === 'application/pdf') {
      // The selected file is an image or a PDF
      console.log('File type is valid');

      // Upload the file or do other actions


      if (file.size > 1000000) {
        console.log('darg & drop', file);

        //alert('File size must be less than 1MB'); // show an error message
        warrantyfile_error_1.textContent = 'File size must be less than 1MB';
        warrantyfile_error.textContent = '';

        $('.button__container').classList.add("warning");
        event.preventDefault(); // prevent form submission
      } else {
        warrantyfile_error_1.textContent = '';
        file_upload_container.classList.remove("warning");
        $('.button__container').classList.add("warning");
      }
    } else {
      e.preventDefault();
      $('#warrantyImage').val("");
      warrantyfile_error.textContent = 'The selected file is not an image or a PDF';
      //warrantyfile_error.textContent = '';
      $('.button__container').classList.add("warning");
      $("#warrantyImage").val("");
      // The selected file is not an image or a PDF
      console.log('Invalid file type in DropAndDrop');
      // Show an error message or prevent uploading the file
    }


  });


</script>


<script>
  $(document).ready(function () {
    console.clear('console clear');
    $.ajax({
      url: "https://middleware.doctordreams.com/api/state",
      type: 'get',
      dataType: 'json',
      success: function (data) {
        var states = data.states;
        $.each(states, function (k, v) {
          $('#address_state').append('<option value="' + k + '">' + v + '</option>');
        });
      }
    });
    $(".close_arrow").click(function () {
      $("#pop-terms").hide();
    });
  });

  $('#address_state').change(function () {

    var state_val = $(this).val();

    $.ajax({
      url: "https://middleware.doctordreams.com/api/city",
      type: 'post',
      data: { 'state': state_val },
      dataType: 'json',
      success: function (data) {
        var states = data.cities;
        $.each(states, function (k, v) {
          $('#address_city').append('<option value="' + v + '">' + v + '</option>');
        });
      }
    });
  });
</script>
<script>

  const warrantyDop = document.getElementById('warrantyDop');

  // Get today's date
  const today = new Date().toISOString().split('T')[0];

  // Set the minimum date to today
  warrantyDop.max = today;


  $("#war_on_click").click(function () {
    $(".war__offline").css("display", "none");
    $(".war__online").css("display", "block");
    $(".terms__offline").css("display", "none");
    $("#Offline-purchase").val("");
    //$("").val("");
    $("#online__tandc").prop('checked', false);
  });
  $("#war_of_click").click(function () {
    $(".war__online").css("display", "none");
    $(".war__offline").css("display", "block");
    $(".terms__offline").css("display", "flex");
    $("#online-purchase").val("");
    // $("#").val("");
    $("#online__tandc").prop('checked', false);
  });

  function dateChange() {
    let dateInutID = document.getElementById("warrantyDop");
    dateInutID.type = 'date';
    let today = new Date().toISOString().split('T')[0];
    document.getElementsByName("date_of_purchase")[0].setAttribute('max', today);
  }

  $(".verify__otp__enter").on("keydown", function (e) {
    if (e.which === 13) {
      e.preventDefault();
    }
  });

  $(".verify__otp__enter").on("keypress", function (event) {
    if (event.which < 48 || event.which > 57 || $(this).val().length >= 6) {
      event.preventDefault();
    }
  });

  $(".verify__otp__enter").on("keyup", function (event) {
    if ($(this).val().length >= 6) {
      $("#otp_error").text("");
    } else {
      $("#otp_error").css('display', 'block');
      $("#otp_error").text("OTP should be 6 digit");
    }
  });

  $("#vtigerFormSubmitBtn_6").on("click", function () {
    window.scrollTo(0, 0);
  });



</script>
<script>
  function validateInputsOnsubmit() {

    if (nameInput.value?.trim() === '') {
      errorMessage.textContent = 'Please enter your First Name';
    } else {
      errorMessage.textContent = '';
    }

    if (lastnameInput.value?.trim() === '') {
      errorMessagelast.textContent = 'Please enter your Last Name';
    } else {
      errorMessagelast.textContent = '';
    }

    if (emailnameInput.value?.trim() === '') {
      errorMessageemail.textContent = 'Please enter your Email ID';
    } else {
      errorMessageemail.textContent = '';
    }

    if (mobilenoInput.value?.trim() === '') {
      errorMessagemobile.textContent = 'Please enter your Mobile no';
    } else {
      errorMessagemobile.textContent = '';
    }

    if (stateInput.value?.trim() === '') {
      errorMessagestate.textContent = 'Please enter State field';
    } else {
      errorMessagestate.textContent = '';
    }

    if (cityInput.value?.trim() === '') {
      errorMessagecity.textContent = 'Please enter City field';
    } else {
      errorMessagecity.textContent = '';
    }
    

    if (offlineInput.value?.trim() === '') {
      errorMessageoffline.textContent = 'Please select a Purchase Source';
    } else {
      errorMessageoffline.textContent = '';
    }

    if (onlineInput.value?.trim() === '') {
      errorMessageonline.textContent = 'Please select a Purchase Source';
    } else {
      errorMessageonline.textContent = '';
    }



    if (warrantyDopInput.value?.trim() === '') {
      errorMessagewarrantywarrantyDop.textContent = 'Please select your Date of Purchase';
    } else {
      errorMessagewarrantywarrantyDop.textContent = '';
    }

    if (warrantyModelInput.value?.trim() === '') {
      errorMessagewarrantywarrantyModel.textContent = 'Please select your Product model';
    } else {
      errorMessagewarrantywarrantyModel.textContent = '';
    }

    if (warrantySizeInput.value?.trim() === '') {
      errorMessagewarrantywarrantySize.textContent = 'Please enter the Product Size / Sub Model';
    } else {
      errorMessagewarrantywarrantySize.textContent = '';
    }

    if (warrantywarrantyInvoice.value?.trim() === '') {
      errorMessagewarrantywarrantyInvoice.textContent = 'Please enter your Invoice ID';
    } else {
      errorMessagewarrantywarrantyInvoice.textContent = '';
    }



    if (warrantyDopInput.value?.trim() === '') {
      errorMessagewarrantywarrantyDop.textContent = 'Please select your Date of Purchase';
    } else {
      errorMessagewarrantywarrantyDop.textContent = '';
    }

    // if (warrantyModelInput.value?.trim() === '') {
    //   errorMessagewarrantywarrantyModel.textContent = 'Please select your Product model';
    // } else {
    //   errorMessagewarrantywarrantyModel.textContent = '';
    // }

    // if (warrantywarrantywarrantyImage.value?.trim() === '') {
    //   errorMessagewarrantywarrantyImage.textContent = 'Please upload your Invoice document';
    // } else {
    //   errorMessagewarrantywarrantyImage.textContent = '';
    // }

    const checkbox = document.getElementById('online__tandc');
    const checkboxError = document.getElementById('terms_cond_error');

    if (checkbox.checked) {
      checkboxError.textContent = '';
    } else {
      checkboxError.textContent = 'Please accept the terms and conditions';
    }
  };

  function displayFileName() {
    let input = $("#warrantyImage");
    //  let fileName = input.files[0].name;
    let selectedFile = $('#warrantyImage').val().replace(/^.*\\/, "");
    if (selectedFile) {
      $('#file__name__error').text(selectedFile);
      $('.button__container').hide();
      $('.file__name__message').css('display', 'flex');
      errorMessagewarrantywarrantyImage.textContent = '';
    } else {
      $('#file__name__error').click();
      alert("File is not Working");
      $('#file__name__error').text("");
      $('.button__container').show();
      $('.file__name__message').css('display', 'none');
    }
  }

  $('#cancel-upload').on('click', function () {
    $('.file__name__message').css('display', 'none');
    $('.button__container').css('display', 'block');
    $("#warrantyImage").val("");
    $("#warrantyImage").click();
  });

</script>

<script>
  // JavaScript code to sort the dropdown options alphabetically
  const selectElement = document.getElementByClass('.warrantyModel');
  const optionList = Array.from(selectElement.options);

  optionList.sort((a, b) => a.text.localeCompare(b.text));

  // Remove existing options from the select element
  while (selectElement.firstChild) {
    selectElement.removeChild(selectElement.firstChild);
  }

  // Append sorted options back to the select element
  optionList.forEach((option) => {
    selectElement.appendChild(option);
  });
</script>
